<!-- 
Manytomany -> ModelMultipleChoiceField (inherit from ModelChoiceField) ->   default: SelectMultiple -> select.html
                                            or we can choose: CheckboxSelectMultiple -> checkbox_select.html
-->
<!--{% load static %}

 <link rel="stylesheet" href="{% static 'css/20191113nouislider/nouislider.min.css' %}">
<script src="{% static 'js/20191113nouislider/nouislider.min.js' %}"></script> -->

{% with id=widget.attrs.id %}
<div{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
    {% for group, options, index in widget.optgroups %}
        {% if group %}
            <div>{{ group }}
                <!-- <div id="{{ group|slugify }}_slider"> -->
                <div class="selectable-items-list">
        {% endif %}
        {% for option in options %}
            {% with widget=option %}
                <div>
                <!-- {% if widget.wrap_label %}<label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %} style="margin-right: 0.8rem;">{% endif %}<input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} style="margin-right: 0.3rem;" value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>{% if widget.wrap_label %}{{ widget.label }}</label>{% endif %} -->
                    <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
                    {% if widget.wrap_label %}<label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %} class="px-2 mb-1">{% endif %}{% if widget.wrap_label %}{{ widget.label }}</label>{% endif %}
                </div>
            {% endwith%}
        {% endfor %}
        {% if group %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endwith %}

<!-- {% with id=widget.attrs.id %}
<ul{% if id %} id="{{ id }}"{% endif %}>
    {% for group, options, index in widget.optgroups %}
        {% if group %}
            <li>{{ group }}
                <div id="{{ group|slugify }}_slider">
        {% endif %}
        {% if group %}
                </div>
            </li>
        {% endif %}
        {% for option in options %}
            {% with widget=option %}
                <input style="display: none;" type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% if widget.attrs.checked is True %} checked{% endif %}>
            {% endwith%}
        {% endfor %}
        <script>
            var slider = document.getElementById('{{ group|slugify }}_slider');
            var pipFormats = {'0':'abc', '1':'pqr', '2':'xyz'};
            noUiSlider.create(slider, {
                start: 1,
                step: 1,
                tooltips: [true],
                connect: 'lower',
                range: {
                    'min': 1,
                    'max': {{ options|length }}
                },
                pips: {
                    mode: 'range',
                    format: {
                        to: function(a){
                            return pipFormats[a];
                        }
                    }
                }
            });
        </script>
    {% endfor %}
</ul>
{% endwith %} -->
