{% load static %}
{% load i18n %}

{% if widget.is_initial %}
<div class="mb-2">
    <img id="id_{{ widget.name }}_preview" src="{{ widget.value.url }}" class="img-fluid img-thumbnail" alt="Profile picture">
</div>
{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
{% endif %}<br>
{{ widget.input_text }}:
{% else %}
<div class="mb-2">
    <img id="id_{{ widget.name }}_preview" src="{% static 'img/icon_user.png' %}" class="img-fluid img-thumbnail" alt="Default profile picture">
</div>
{% endif %}
<div id="id_{{ widget.name }}_input_container" class="custom-file">
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    <label id="id_{{ widget.name }}_label" class="custom-file-label" for="id_{{ widget.name }}">{% translate 'Choose file...' %}</label>
</div>


<script>
    let profilePictureInputElt = document.getElementById('id_{{ widget.name }}');
    let profilePicturePreviewElt = document.getElementById('id_{{ widget.name }}_preview');
    let profilePictureLabelElt = document.getElementById('id_{{ widget.name }}_label');
    let profilePictureInputContainerElt = document.getElementById('id_{{ widget.name }}_input_container');

    let fileTypes = [
        profilePictureInputElt.getAttribute('accept'),
    ]

    function imageFileType(file) {
        for(let i = 0; i < fileTypes.length; i++) {
            if(file.type.split('/')[0] === fileTypes[i].split('/')[0]) {
                return true;
            }
        }
        return false;
    }

    function updateImageDisplay() {
        // Reset errorList if it exists
        let profilePictureErrorListElt = document.getElementById('id_{{ widget.name }}_errorlist');
        if (profilePictureErrorListElt) {
            profilePictureErrorListElt.remove();
        }
        
        let curFiles = profilePictureInputElt.files;
        if(curFiles.length === 0) {
            
        } else {
            for(let i = 0; i < curFiles.length; i++) {
                if(imageFileType(curFiles[i])) {
                    profilePictureUrl = window.URL.createObjectURL(curFiles[i]);
                    profilePicturePreviewElt.setAttribute('src', profilePictureUrl);
                } else {
                    let profilePictureErrorList = document.createElement('ul');
                    profilePictureErrorList.id = 'id_{{ widget.name }}_errorlist'
                    profilePictureErrorList.classList.add("errorlist");
                    let profilePictureErrorListItem = document.createElement('li');
                    profilePictureErrorListItem.textContent = curFiles[i].name + ': Not a valid file type. Update your selection.';
                    profilePictureErrorList.appendChild(profilePictureErrorListItem);
                    profilePictureInputContainerElt.appendChild(profilePictureErrorList);
                }
            }
        }
    }

    profilePictureInputElt.addEventListener('change', updateImageDisplay);
</script>