{% load static %}

{% with id=widget.attrs.id %}
    <ul{% if id %} id="{{ id }}"{% endif %} class="selectable-items-list {% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %}">
    {% for group, options, index in widget.optgroups %}
        {% if group %}
            <li>{{ group }}
                <ul{% if id %} id="{{ id }}_{{ index }}"{% endif %}>
        {% endif %}
        {% for option in options %}
            {% with widget=option %}
                <li>
                    {% include "django/forms/widgets/input.html" %} 
                    <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %} class="px-2 mb-1">{{ widget.label }}</label>
                </li>
            {% endwith %}
        {% endfor %}
        {% if group %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endwith %}

<!-- Add a css class to selectable-items-list to avoid :hover on mobiles -->
<script src="{% static 'js/detect-no-touch.js' %}"></script>