{% extends 'baseh.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Votre jardin au prix juste" %} | {{ block.super }}{% endblock %}

{% block index %}
<div class="newsletter container-fluid bg-super-light-grey">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="{% static 'img/bg_1.JPG' %}" class="img-fluid" alt="Image de la Newsletter">
        </div>
        <div class="col-12 col-md-6 mt-4">
            <h1>Bonjour !</h1>
            <p class="my-4">Inscrivez-vous à la newsletter pour avoir des conseils et les derniers bon plans !</p>
            <form id="newsletter-form" method="get" action="">
                <div class="form-row">
                    <div class="form-group col-12">
                        <input class="form-control font-italic" type="text" placeholder="{% trans 'Votre email' %}" aria-label="Email" name="email-newsletter">
                        <label>
                            <input type="checkbox" checked="checked" name="subscribe"><small>J'accepte la politique de confidentialité</small>
                        </label>
                    </div>
                    <div class="form-group col-12">
                        <button class="btn btn-success" type="submit">{% trans "Envoyer" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="reinsurance container-fluid bg-white">
    <div class="row text-center">
        <div class="col-12 col-md-6 col-xl-3 px-5 mb-5">
            <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de livraison">
            <h1 class="title">Livraison sous 5 jours</h1>
            <h3 class="subtitle">(voir conditions)</h3>
        </div>
        <div class="col-12 col-md-6 col-xl-3 px-5 mb-5">
            <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de garantie">
            <h1 class="title">Tous nos produits sont garantis</h1>
            <h3 class="subtitle">(voir conditions)</h3>
        </div>
        <div class="col-12 col-md-6 col-xl-3 px-5 mb-5">
            <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de paiement">
            <h1 class="title">Paiements sécurisés</h1>
            <h3 class="subtitle">(3x et 4x sans frais)</h3>
        </div>
        <div class="col-12 col-md-6 col-xl-3 px-5 mb-5">
            <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de sécurité">
            <h1 class="title">Une plateforme sécurisée</h1>
            <h3 class="subtitle">(voir conditions)</h3>
        </div>
    </div>
</div>

<div class="payment">
    <div class="container-fluid bg-green text-white py-4 px-5">
        <div class="row text-center">
            <div class="col-12">
                <h2 style="text-transform: none;">Paiement sécurisé</h2>
                <div class="d-flex justify-content-center align-items-center flex-wrap pt-3">
                    <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="CB icon"></a>
                    <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="Visa icon"></a>
                    <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="Mastercard icon"></a>
                    <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="Paypal icon"></a>
                    <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="American Express icon"></a>
                    <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="SEPA icon"></a>
                    <p style="font-weight: bold; font-size: 1.3rem;">en 3x ou 4x</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light-green text-white py-4 px-5">
        <div class="row">
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
    </div>
</div>
<div class="categories container-fluid bg-light-grey text-white py-4 px-5">
    <div class="row">
        <div class="col-12">
            <h1>Catégories</h1>
            <ul class="list-unstyled text-size-p">
                {% for cat in "123456789" %}
                <li><a href="#" class="unstyled" style="text-transform: uppercase;">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}