{% extends 'baseh.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Votre jardin au prix juste" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="main-categories container-fluid bg-white border-solid-light-grey d-none d-lg-block">
    <div class="d-flex justify-content-center">
        <div class="flex-grow-1 cat-dropdown">
            <a href="#">Portail avec titre un peu long</a>
            <div class="cat-dropdown-content left-align">
                <div class="row">
                    <div class="categories col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Abri bois</a></li>
                            <li><a href="#">Abri métal</a></li>
                            <li><a href="#">Abri PVC</a></li>
                            <li><a href="#">Abri super fabriqué en baboo naturel bio d'origine chinoise</a></li>
                        </ul>
                        <a class="all-categories" href="#">Voir toutes les catégories</a>
                    </div>
                    <div class="top-article col-6">
                        <span class="title">Top article</span>
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                                <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                            </div>
                        </div>
                        <a class="all-articles" href="#">Voir tous les produits</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="flex-grow-1 cat-dropdown">
            <a href="#">Portail</a>
            <div class="cat-dropdown-content left-align">
                <div class="row">
                    <div class="categories col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Abri bois</a></li>
                            <li><a href="#">Abri métal</a></li>
                            <li><a href="#">Abri PVC</a></li>
                            <li><a href="#">Abri super fabriqué en baboo naturel bio d'origine chinoise</a></li>
                        </ul>
                        <a class="all-categories" href="#">Voir toutes les catégories</a>
                    </div>
                    <div class="top-article col-6">
                        <span class="title">Top article</span>
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                                <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                            </div>
                        </div>
                        <a class="all-articles" href="#">Voir tous les produits</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="flex-grow-1 cat-dropdown">
            <a href="#">Portail</a>
            <div class="cat-dropdown-content left-align">
                <div class="row">
                    <div class="categories col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Abri bois</a></li>
                            <li><a href="#">Abri métal</a></li>
                            <li><a href="#">Abri PVC</a></li>
                            <li><a href="#">Abri super fabriqué en baboo naturel bio d'origine chinoise</a></li>
                        </ul>
                        <a class="all-categories" href="#">Voir toutes les catégories</a>
                    </div>
                    <div class="top-article col-6">
                        <span class="title">Top article</span>
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                                <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                            </div>
                        </div>
                        <a class="all-articles" href="#">Voir tous les produits</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="flex-grow-1 cat-dropdown">
            <a href="#">Portail</a>
            <div class="cat-dropdown-content left-align">
                <div class="row">
                    <div class="categories col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Abri bois</a></li>
                            <li><a href="#">Abri métal</a></li>
                            <li><a href="#">Abri PVC</a></li>
                            <li><a href="#">Abri super fabriqué en baboo naturel bio d'origine chinoise</a></li>
                        </ul>
                        <a class="all-categories" href="#">Voir toutes les catégories</a>
                    </div>
                    <div class="top-article col-6">
                        <span class="title">Top article</span>
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                                <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                            </div>
                        </div>
                        <a class="all-articles" href="#">Voir tous les produits</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="flex-grow-1 cat-dropdown">
            <a href="#">Portail avec titre un peu long</a>
            <div class="cat-dropdown-content right-align">
                <div class="row">
                    <div class="categories col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Abri bois</a></li>
                            <li><a href="#">Abri métal</a></li>
                            <li><a href="#">Abri PVC</a></li>
                            <li><a href="#">Abri super fabriqué en baboo naturel bio d'origine chinoise</a></li>
                        </ul>
                        <a class="all-categories" href="#">Voir toutes les catégories</a>
                    </div>
                    <div class="top-article col-6">
                        <span class="title">Top article</span>
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                                <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                            </div>
                        </div>
                        <a class="all-articles" href="#">Voir tous les produits</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="flex-grow-1 cat-dropdown">
            <a href="#">Portail avec titre un peu long</a>
            <div class="cat-dropdown-content right-align">
                <div class="row">
                    <div class="categories col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Abri bois</a></li>
                            <li><a href="#">Abri métal</a></li>
                            <li><a href="#">Abri PVC</a></li>
                            <li><a href="#">Abri super fabriqué en baboo naturel bio d'origine chinoise</a></li>
                        </ul>
                        <a class="all-categories" href="#">Voir toutes les catégories</a>
                    </div>
                    <div class="top-article col-6">
                        <span class="title">Top article</span>
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                                <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                            </div>
                        </div>
                        <a class="all-articles" href="#">Voir tous les produits</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="flex-grow-1 cat-dropdown">
            <a href="#">Portail avec titre un peu long</a>
            <div class="cat-dropdown-content right-align">
                <div class="row">
                    <div class="categories col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Abri bois</a></li>
                            <li><a href="#">Abri métal</a></li>
                            <li><a href="#">Abri PVC</a></li>
                            <li><a href="#">Abri super fabriqué en baboo naturel bio d'origine chinoise</a></li>
                        </ul>
                        <a class="all-categories" href="#">Voir toutes les catégories</a>
                    </div>
                    <div class="top-article col-6">
                        <span class="title">Top article</span>
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                                <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                            </div>
                        </div>
                        <a class="all-articles" href="#">Voir tous les produits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="carousel container-fluid bg-super-light-grey">
    <div class="row align-items-stretch">
        <div class="col-12 col-lg-5 p-2">
            <div id="carouselControls" class="carousel slide h-100" data-ride="carousel">
                <div class="carousel-inner h-100 bg-light-grey">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'img/bg_1.JPG' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-12 col-lg-7 pt-lg-2">
            <div class="row row-cols-2 row-cols-lg-3">
                <div class="col pl-2 pr-1 pl-lg-0 pr-lg-1 pb-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                        <div class="card-body d-flex justify-content-between align-items-end">
                            <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article gauche</a>
                            <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                        </div>
                    </div>
                </div>
                <div class="col pl-1 pr-2 px-lg-1 pb-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                        <div class="card-body d-flex justify-content-between align-items-end">
                            <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article tres long qui tient sur 2 lignes</a>
                            <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                        </div>
                    </div>
                </div>
                <div class="col pl-2 pr-1 pl-lg-1 pr-lg-2 pb-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                        <div class="card-body d-flex justify-content-between align-items-end">
                            <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                            <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                        </div>
                    </div>
                </div>
                <div class="col pl-1 pr-2 pl-lg-0 pr-lg-1 pb-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                        <div class="card-body d-flex justify-content-between align-items-end">
                            <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article gauche</a>
                            <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                        </div>
                    </div>
                </div>
                <div class="col pl-2 pr-1 px-lg-1 pb-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                        <div class="card-body d-flex justify-content-between align-items-end">
                            <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article</a>
                            <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                        </div>
                    </div>
                </div>
                <div class="col pl-1 pr-2 pr-lg-2 pb-2">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                        <div class="card-body d-flex justify-content-between align-items-end">
                            <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article droite</a>
                            <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="actu container-fluid bg-white pt-5">
    <h1 class="pb-4">C'est le moment !</h1>
    <div class="row">
        <div class="col-12 col-xl-7">
            <div class="row">
                <div class="col-12 px-2">
                    <img class="img-fluid" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                </div>
                <div class="col-12 pt-2">
                    <div class="row row-cols-1 row-cols-xl-3">
                        <div class="col px-2 pr-lg-1 pb-2">
                            <div class="card h-100">
                                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                                <div class="card-body d-flex justify-content-between align-items-end">
                                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article gauche</a>
                                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                                </div>
                            </div>
                        </div>
                        <div class="col px-2 px-lg-1 pb-2">
                            <div class="card h-100">
                                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                                <div class="card-body d-flex justify-content-between align-items-end">
                                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article qui tient sur 2 lignes</a>
                                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                                </div>
                            </div>
                        </div>
                        <div class="col px-2 pl-lg-1 pb-2">
                            <div class="card h-100">
                                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                                <div class="card-body d-flex justify-content-between align-items-end">
                                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom articledroite</a>
                                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5 px-2">
            <img class="img-fluid" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
        </div>
    </div>
</div>
<div class="top-vente container-fluid bg-white py-5">
    <h1 class="pb-4">LES 5 MEILLEURES VENTES</h1>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-5">
        <div class="col px-2 pr-lg-1 pb-2">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                <div class="card-body d-flex justify-content-between align-items-end">
                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article gauche</a>
                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                </div>
            </div>
        </div>
        <div class="col px-2 px-lg-1 pb-2">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                <div class="card-body d-flex justify-content-between align-items-end">
                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom article qui tient sur 2 lignes</a>
                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                </div>
            </div>
        </div>
        <div class="col px-2 pl-lg-1 pb-2">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                <div class="card-body d-flex justify-content-between align-items-end">
                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom articledroite</a>
                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                </div>
            </div>
        </div>
        <div class="col px-2 pl-lg-1 pb-2">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                <div class="card-body d-flex justify-content-between align-items-end">
                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom articledroite</a>
                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                </div>
            </div>
        </div>
        <div class="col px-2 pl-lg-1 pb-2">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/bg_1.JPG' %}" alt="Card image cap">
                <div class="card-body d-flex justify-content-between align-items-end">
                    <a href="#" class="unstyled card-text flex-shrink-1 stretched-link">Nom articledroite</a>
                    <span class="price flex-shrink-0 pl-2">1230,00 €</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}