{% extends 'baseh.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Votre jardin au prix juste" %} | {{ block.super }}{% endblock %}

{% block index %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
            <h3>{% trans 'For whom?' %}</h3>
            <p>{% trans 'Sportsmen and sportswomen struggling to find partners to explore the outdoors. Especially the mountains.' %}</p>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <h3>{% trans 'What for?' %}</h3>
            <p>{% trans 'Find partners that match your activities, your level and your aspirations.' %}</p>
        </div>
        <div class="col-12 col-md-12 col-xl-4">
            <h3>{% trans 'How it works?' %}</h3>
            <ul class="list-unstyled">
                <li class="mb-2">{% trans 'Watch profiles and outings. Contact directly the ones fitting your interest.' %}</li>
                <li>{% trans 'Publish your own profile or outings to be contacted by potential partners.' %}</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bg-green text-white py-4 px-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 style="text-transform: none;">Paiement sécurisé</h2>
            <div class="d-flex justify-content-center align-items-center pt-3">
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="CB icon"></a>
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="Visa icon"></a>
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="Mastercard icon"></a>
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="Paypal icon"></a>
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="American Express icon"></a>
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=104 width=104 alt="SEPA icon"></a>
                <p style="font-weight: bold; font-size: 1.3rem;">en 3x ou 4x</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light-green text-white py-4 px-5">
    <div class="row">
        <div class="col-12 text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
    </div>
</div> 
<div class="container-fluid bg-light-grey text-white py-4 px-5">
    <div class="row">
        <div class="col-12">
            <h1>Catégories</h1>
            <ul class="list-unstyled text-size-p">
                {% for cat in "123456789" %}
                <li><a href="#" class="unstyled">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey text-white py-5 px-4">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
            <h2 class="mb-4">Besoin d'aide ?</h2>
            <ul class="list-unstyled text-size-footer">
                <li><a href="#" class="unstyled">Nous contacter</a></li>
                <li><a href="#" class="unstyled">FAQ</a></li>
                <li><a href="#" class="unstyled">Suivi de commande</a></li>
                <li><a href="#" class="unstyled">Guide d'achats</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h2 class="mb-4">à propos d'Hoortus</h2>
            <ul class="list-unstyled text-size-footer">
                <li><a href="#" class="unstyled">Qui sommes-nous ?</a></li>
                <li><a href="#" class="unstyled">Nos engagements</a></li>
                <li><a href="#" class="unstyled">Livraisons</a></li>
                <li><a href="#" class="unstyled">Recrutement</a></li>
                <li><a href="#" class="unstyled">FAQ</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h2 class="mb-4">Internationale</h2>
            <ul class="list-unstyled text-size-footer">
                <li>France, Allemagne, Italie, Espagne, Belgique, Pologne</li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h2 class="mb-4">Réseaux sociaux</h2>
            <div class="d-flex justify-content-center">
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=56 width=56 alt="Pinterest icon"></a>
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=56 width=56 alt="Youtube icon"></a>
                <a href="#" class="unstyled mx-3"><img src="{% static 'img/icon_male_map.png' %}" height=56 width=56 alt="Instagram icon"></a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <p class="text-center text-size-footer mb-0">© 2019 - Hoortus / CGV / Plan du site / Mentions légales</p>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}