{% extends 'baseh.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Product detail" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid bg-white product-description my-2">
    <div class="row">
        <div class="col-12 col-xl-9">
            <div class="technical-specs my-5">
                <h2 class="pl-5 pb-4">CARACTERISTIQUES TECHNIQUES</h2>
                <ul class="list-unstyled d-flex flex-row flex-wrap mb-0">
                    <li class="d-flex justify-content-between w-50 pl-4">
                        <p class="font-weight-bold">Caractéristique</p><p class="font-weight-light">Valeur</p>
                    </li>
                    <li class="d-flex justify-content-between w-50 pl-4">
                        <p class="font-weight-bold">Caractéristique</p><p class="font-weight-light">Valeur</p>
                    </li>
                    <li class="d-flex justify-content-between w-50 pl-4">
                        <p class="font-weight-bold">Caractéristique</p><p class="font-weight-light">Valeur</p>
                    </li>
                    <li class="d-flex justify-content-between w-50 pl-4">
                        <p class="font-weight-bold">Caractéristique</p><p class="font-weight-light">Valeur</p>
                    </li>
                </ul>
            </div>
            <div class="description my-5">
                <h2 class="pl-5 pb-4">DESCRIPTION</h2>
                <div class="content">
                    <h3>Abri en Aluminium</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
            <div class="technical-blueprint my-5">
                <h2 class="pl-5 pb-4">Schéma technique</h2>
            </div>
        </div>
        <div class="reinsurance col-12 col-xl-3 bg-super-light-grey">
            <div class="row text-center p-4">
                <div class="col-12">
                    <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de livraison">
                    <h1 class="title">Livraison sous 5 jours</h1>
                    <h3 class="subtitle">(voir conditions)</h3>
                </div>
                <div class="col-12">
                    <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de garantie">
                    <h1 class="title">Tous nos produits sont garantis</h1>
                    <h3 class="subtitle">(voir conditions)</h3>
                </div>
                <div class="col-12">
                    <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de paiement">
                    <h1 class="title">Paiements sécurisés</h1>
                    <h3 class="subtitle">(3x et 4x sans frais)</h3>
                </div>
                <div class="col-12">
                    <img class="my-5" src="{% static 'img/icon_male_map.png' %}" height=60 width=60 alt="Icone de sécurité">
                    <h1 class="title">Une plateforme sécurisée</h1>
                    <h3 class="subtitle">(voir conditions)</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}