{% extends 'base.html' %}

{% block content %}
<div>
    <p>Votez pour les fonctionnalitées que vous souhaiteriez avoir sur Bourse aux compagnons :</p>
    <ul>
        <li>"J'aimerai me connecter via mon compte facebook ou google."</li>
        <li>"Je trouve que certaines activités manquent ou devraient être modifiées"</li>
        <li>"Je suis très frustré par la limitation du nombre de caractères des titres de sortie. J'aimerai pouvoir écrire des titres plus long."</li>
        <li>Ajouter un symbole "Je peux héberger mon compagnon".</li>
        <li>...</li>
    </ul>
</div>
{% endblock %}