{% extends 'base.html' %}

{% block content %}
<div>
    <p>Votez pour les fonctionnalitées que vous souhaiteriez avoir sur Bourse aux compagnons :</p>
    <ul>
        <li>[URGENT] Mise en forme des formulaires</li>
        <li>[URGENT] Ajouter la possibilité de renseigner les niveaux par activité</li>
        <li>[IMPORTANT ++] Ajouter des filtres (durée, dates) pour trouver des sorties qui m'intéressent.</li>
        <li>[IMPORTANT ++] Ajouter des filtres pour trouver les profils intéressant près de moi.</li>
        <li>[IMPORTANT] {Carte + Filtres} pour géolocaliser les profils qui m'intéressent (prioritairement autour de moi sur un rayon de 60km).</li>
        <li>[IMPORTANT] {Carte + Filtres} pour géolocaliser les sorties qui m'intéressent (prioritairement autour de moi sur un rayon de 60km).</li>
        <li>[IMPORTANT] {Calendrier + Filtres} pour visionner les sorties intéressantes à venir</li>
        <li>"Je voudrai que la page d'accueil ait plus de contenu / raconte une histoire / scrolle</li>
        <li>Ajouter la possibilité de s'abonner aux sorties d'un profil donné : vous recevrez des mails à chaque création / modification de sortie par ce profil.</li>
        <li>Obligation à tous les profils de renseigner leur niveau par activité et ainsi pouvoir rechercher des profils plus finement à l'aide d'un filtre.</li>
        <li>Afficher directement l'adresse e-mail et/ou numéro de téléphone d'un profil au lieu de passer par le formulaire de contact (attention cela offre la possibilité à des personnes malveillantes de prendre récupérer des données vous concernant.)
        <li>Une application smartphone bourseauxcompagnons</li>
        <li>Une intégration plus forte avec CampToCamp</li>
        <li>Un historique de mes sorties accessible depuis la page 'Mon profil'.</li>
        <li>"J'aimerai me connecter via mon compte facebook ou google."</li>
        <li>"Je trouve que certaines activités manquent ou devraient être modifiées"</li>
        <li>"Je suis très frustré par la limitation du nombre de caractères des titres de sortie. J'aimerai pouvoir écrire des titres plus long."</li>
        <li>Passer les formulaires "Prendre contact" et "Se connecter" en mode modal (fenêtre popup).</li>
        <li>Ajouter un symbole "Je peux héberger mon compagnon".</li>
        <li>...</li>
    </ul>
</div>
{% endblock %}