asgiref==3.4.1
Babel==2.9.1
Django==3.2.12
django-classy-tags==2.0.0
django-debug-toolbar==3.2.4
django-modeltranslation==0.17.5
django-phonenumber-field==6.0.0
et-xmlfile==1.0.1
jdcal==1.4.1
openpyxl==3.0.1
phonenumbers==8.11.4
Pillow==8.4.0
pkg_resources==0.0.0
psycopg2-binary==2.8.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
typing_extensions==4.1.1
