asgiref==3.5.0
Babel==2.9.1
backports.zoneinfo==0.2.1
Django==4.0.4
django-classy-tags==3.0.1
django-debug-toolbar==3.2.4
django-modeltranslation==0.17.5
django-phonenumber-field==6.1.0
et-xmlfile==1.0.1
jdcal==1.4.1
openpyxl==3.0.1
phonenumbers==8.11.4
Pillow==9.1.0
psycopg2-binary==2.8.6
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.1.1
