{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Update my account' %} | {{ block.super }}{% endblock %}

{% block content %}
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-sm-6 mb-4">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
                {% if form.email.help_text %}
                    <p class="helptext">{{ form.email.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
                {% if form.username.help_text %}
                    <p class="helptext">{{ form.username.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {{ form.first_name.errors }}
                {% if form.first_name.help_text %}
                    <p class="helptext">{{ form.first_name.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {{ form.last_name.errors }}
                {% if form.last_name.help_text %}
                    <p class="helptext">{{ form.last_name.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>

        <div class="form-end-buttons-side mb-2">
            <input type="submit" value="{% trans 'Save' %}" class="btn btn-main" />
            {% if customuser %}
            <a href="{% url 'my-profile' %}" class="btn btn-secondary ml-2" role="button">{% trans 'Cancel' %}</a>
            {% endif %}
        </div>
        <div class="form-end-buttons-side mb-4">
            <a href="{% url 'password_change' %}" class="btn btn-info" role="button">{% trans 'Update my password' %}</a>
        </div>
    </form>
</div>
{% endblock%}