{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Sign in' %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-12 mb-4">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {{ form.username.errors }}
                            {% if form.username.help_text %}
                                <p class="helptext">{{ form.username.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {{ form.password.errors }}
                            {% if form.password.help_text %}
                                <p class="helptext">{{ form.password.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>

                    {% if next == "" or next == request.path|urlencode %}
                    <input type="hidden" name="next" value="{% url 'my-profile' %}">
                    {% else %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    
                    <div class="form-end-buttons-centered mb-4">
                        <button class="btn btn-main px-5" type="submit">{% translate 'Sign in' %}</button>
                    </div>
                    <div class="form-end-buttons-centered">
                        <a href="{% url 'password_reset' %}">{% translate "Forgot password?" %}</a>
                    </div>
                    <div class="form-end-buttons-centered">
                        {% translate "Don't have a profile?" %}<a href="{% url 'profile_register' %}" class="ml-2">{% translate "Register" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}