{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Sign in' %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-12 mb-4">
                            <label for="{{ form.username.id_for_label }}" class="required">{% trans "E-mail address" %}</label>
                            {{ form.username }}
                            {{ form.username.errors }}
                            {% if form.username.help_text %}
                                <p class="helptext">{{ form.username.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-12 mb-4">
                            <label for="{{ form.password.id_for_label }}" class="required">{% trans "Password" %}</label>
                            {{ form.password }}
                            {{ form.password.errors }}
                            {% if form.password.help_text %}
                                <p class="helptext">{{ form.password.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>

                    {% if next == "" or next == request.path|urlencode %}
                    <input type="hidden" name="next" value="{% url 'my-profile' %}">
                    {% else %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    
                    <div class="form-end-buttons-centered mb-4">
                        <button class="btn btn-main px-5" type="submit">{% trans 'Sign in' %}</button>
                    </div>
                    <div class="form-end-buttons-centered">
                        <a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
                    </div>
                    <div class="form-end-buttons-centered">
                        {% trans "Don't have a profile?" %}<a href="{% url 'profile_register' %}" class="ml-2">{% trans "Register" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let emailInputElt = document.getElementById('id_username');
    let pwdInputElt = document.getElementById('id_password');
    let emailLabelElt = emailInputElt.parentNode.childNodes[1];
    let pwdLabelElt = pwdInputElt.previousSibling.previousSibling;

    emailInputElt.classList.add('form-control');
    pwdInputElt.classList.add('form-control');
    emailLabelElt.classList.add('required');
    pwdLabelElt.classList.add('required');
</script>
{% endblock %}