{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row pb-4 pb-xl-5 justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1>{{ title }}</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 mb-4">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                            {% if form.email.help_text %}
                                <p class="helptext">{{ form.email.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-end-buttons-side">
                        <button class="btn btn-main" type="submit">{% translate "Submit and receive a confirmation e-mail" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}