{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row pb-4 pb-xl-5 justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1>{{ title }}</h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-12 mb-4">
                            {{ form.old_password.label_tag }}
                            {{ form.old_password }}
                            {{ form.old_password.errors }}
                            {% if form.old_password.help_text %}
                                <p class="helptext">{{ form.old_password.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-6 mb-4">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                            {% if form.new_password1.help_text %}
                                <p class="helptext">{{ form.new_password1.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-6 mb-4">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                            {% if form.new_password2.help_text %}
                                <p class="helptext">{{ form.new_password2.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-end-buttons-side">
                        <button class="btn btn-main" type="submit">{% translate 'Update password' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}