{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1>{{ title }}</h1>
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row">
                            <div class="col-sm-6 mb-4">
                                {{ form.new_password1.label_tag }}
                                {{ form.new_password1 }}
                                {{ form.new_password1.errors }}
                                {% if form.new_password1.help_text %}
                                    <p class="helptext">{{ form.new_password1.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-6 mb-4">
                                {{ form.new_password2.label_tag }}
                                {{ form.new_password2 }}
                                {{ form.new_password2.errors }}
                                {% if form.new_password2.help_text %}
                                    <p class="helptext">{{ form.new_password2.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-end-buttons-side">
                            <button class="btn btn-main" type="submit">{% translate "Update password" %}</button>
                        </div>
                    </form>
                {% else %}
                    <p>
                        {% url 'password_reset' as url_password_reset %}
                        {% blocktranslate %}
                        The reset link for the password is not valid anymore because it has already been used. Please ask for a <a href="{{ url_password_reset }}">new password reset</a>.
                        {% endblocktranslate %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}