{% load i18n %}{% translate 'Hi' %} {{ user.username }},

{% blocktranslate with profile_email=user.get_username %}You receive this message because you asked for a password reset of your Bourseauxcompagnons profile.
Your id to sign in is your email address: {{ profile_email }}.{% endblocktranslate %}

{% translate "Fill in a new password:" %} {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate 'Sportively yours' %}

Bourse aux compagnons (https://bourseauxcompagnons.fr) {% translate 'facilitates the bringing together of mountain sportsmen and sportswomen.' %}