{% load i18n %}
{% load static %}

<div class="modal fade" id="helpAreaModal" tabindex="-1" role="dialog" aria-labelledby="helpAreaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpAreaModalLabel">{% translate 'How to draw an area?' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{% static 'img/help_draw_area.gif' %}" class="img-fluid" alt="Help draw area">
                <small class="helptext">
                <ol class="mt-3">
                    <li>{% translate "Zoom on the zone where you will draw by using your mouse wheel or touchpad or fingers or the zoom-in / zoom-out buttons on the map" %}</li>
                    <li>{% translate "Then draw the border of the area by clicking on the map" %}
                        <ul>
                            <li>{% translate "first click will initiate the border by building a first point" %}</li>
                            <li>{% translate "second click will draw a the first side of the border" %}</li>
                            <li>{% translate "third click will draw a the second side of the border" %}</li>
                            <li>{% translate "and so on ..." %}</li>
                            <li>{% translate "close the border by clicking back on the first point or by double clicking when you draw the last side." %}
                        </ul>
                    </li>
                    <li>{% translate "If you want to draw again your area:" %}
                        <ul>
                            <li>{% translate "close it by double clicking on the last point (or by clicking on the first point)" %}</li>
                            <li>{% translate "click on the delete button on the map" %}</li>
                        </ul>
                    </li>
                </ol>
                <p>{% translate "Tip: click on 'Shift' key while you draw to activate freehand drawing." %}</p>
                </small>
            </div>
        </div>
    </div>
</div>