{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% blocktrans with profile_contacted=profile_contacted %}Contact {{ profile_contacted }}{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1>{% blocktrans %}Get in touch with {{ profile_contacted }}{% endblocktrans %}</h1>
                <a href="#" id="phone-number" class="btn btn-outline-main my-3 w-100 {% if not profile_phone_number %}disabled{% endif %}"><img src="{% if not profile_phone_number %}{% static 'img/icon_call_disabled.svg' %}{% else %}{% static 'img/icon_call.svg' %}{% endif %}" alt="{% trans 'Call icon' %}">
                    {% if profile_phone_number %}
                    {% blocktrans with profile_contacted=profile_contacted %}
                    Contact {{ profile_contacted }} directly by phone. SMS is prefered.
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with profile_contacted=profile_contacted %}
                    You can't access {{ profile_contacted }}'s phone number. He/She prefers to be contacted by e-mail.
                    {% endblocktrans %}
                    {% endif %}
                </a>
                <p class="text-center">-------------</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-12 mb-4">
                            {{ form.from_email.label_tag }}
                            {{ form.from_email }}
                            {{ form.from_email.errors }}
                            {% if form.from_email.help_text %}
                                <p class="helptext">{{ form.from_email.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.subject.label_tag }}
                            {{ form.subject }}
                            {{ form.subject.errors }}
                            {% if form.subject.help_text %}
                                <p class="helptext">{{ form.subject.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.message.label_tag }}
                            {{ form.message }}
                            {{ form.message.errors }}
                            {% if form.message.help_text %}
                                <p class="helptext">{{ form.message.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn btn-main" type="submit">{% trans 'Send' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let phoneNumber = document.getElementById("phone-number");

    phoneNumber.addEventListener('click', function() {
        phoneNumber.classList.add('clicked');
        phoneNumber.href = 'tel:{{ profile_phone_number }}';
        phoneNumber.innerHTML = '{{ profile_phone_number }}';
    });
</script>
{% endblock %}