{% load i18n %}{% url 'profiles:detail' profile_making_contact as profile_url %}{% translate 'Hi' %} {{ profile_contacted }},
{% if profile_making_contact %}
{# Translators: Think to translate the urls #}
{% blocktranslate %}You received a message from {{ profile_making_contact }} ({{ protocol }}://{{ domain }}{{ profile_url }}) through {{ site_name }} website.{% endblocktranslate %}
{% else %}
{% blocktranslate %}You received a message from somebody through {{ site_name }} website.{% endblocktranslate %}
{% endif %}
{% translate 'You will be able give him/her an answer on its personal e-mail address simply by replying to this e-mail. Here is its message:' %}

{% autoescape off %}
{{ message }}
{% endautoescape %}

{% translate 'Sportively yours' %}

{{ site_name }} ({{ protocol }}://{{ domain }}) {% translate 'facilitates the bringing together of mountain sportsmen and sportswomen.' %}