{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'My profile' %} | {{ block.super }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
                <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row align-items-center mb-2">
        <div class="col-12 col-sm-auto col-md-auto mb-2 mr-auto mr-md-0">
            <a href="{% url 'update-profile' user.username %}" class="btn btn-primary btn-block" role="button">{% trans 'Update my public profile' %}</a>
        </div>
        <div class="col-12 col-sm-auto col-md-auto mb-2 mr-md-auto">
            <a href="{% url 'update-account' user.username %}" class="btn btn-primary btn-block" role="button">{% trans 'Account settings' %}</a>
        </div>
        <div class="col-12 col-md-auto mb-2">
            <a href="{% url 'delete-account' user.username %}" class="btn btn-danger btn-block" role="button">{% trans 'Delete my account' %}</a>
        </div>
    </div>
    {% if user.outing_set.all %}
        <p>{% trans 'Outings I created:' %}</p>
        <ul class="row no-gutters list-unstyled">
        {% for outing in user.outing_set.all %}
            <li class="col-12">
                <div class="card">
                    <div class="card-body py-2">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-auto mr-auto">
                                <a href="{{ outing.get_absolute_url }}">{{ outing.title }}</a> ({{ outing.start_date|date:"SHORT_DATE_FORMAT" }} - {{ outing.end_date|date:"SHORT_DATE_FORMAT" }})
                            </div>
                            <div class="col-auto col-lg-auto">
                                <a href="{% url 'outings:update' outing.slug %}" class="btn btn-primary" role="button">{% trans 'Update' %}</a>
                            </div>
                            <div class="col-auto col-lg-auto">
                                <a href="{% url 'outings:delete' outing.slug %}" class="btn btn-danger" role="button">{% trans 'Delete' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
            <li class="col-12 pt-2">
                <a href="{% url 'outings:create' %}" class="btn btn-success btn-block" role="button">{% trans 'Create an outing' %}</a>
            </li>
        </ul>
    </div>
    {% else %}
        <div class="row mb-4">
            <div class="col-12">            
                <a href="{% url 'outings:create' %}" class="btn btn-success btn-block" role="button">{% trans 'Create an outing' %}</a>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="row mb-4">
        <div class="col-12">
            <a href="{% url 'login' %}" class="btn btn-success btn-block" role="button">{% trans 'Sign in' %}</a>
        </div>
    </div>
{% endif %}
{% endblock %}