{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate 'My profile' %} | {{ block.super }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <div class="card-title col-12">
                        <div class="d-flex flex-row justify-content-between">
                            <h2 class="mb-1">{% translate 'My public profile' %}</h2>
                            <a class="ml-2" href="{% url 'profiles:detail' user.username %}"><img src="{% static 'img/icon_view.png' %}" height="30" alt="{% translate 'View icon' %}" title="{% translate 'View public profile' %}"></a>
                        </div>
                        <p class="helptext">{% translate 'Data displayed on the profiles page' %}</p>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="progress" style="height: 2.5rem;">
                            <div class="progress-bar progress-bar-striped {% if user.profile.completion <= 50 %}bg-danger{% elif user.profile.completion <= 80 %}bg-warning{% else %}bg-success{% endif %}" role="progressbar" style="width: {{ user.profile.completion }}%;">{% translate 'Completion:' %} {{ user.profile.completion }} &#37;</div>
                        </div>

                        <p class="helptext"><small>
                        {% if user.profile.completion <= 50 %}
                            {% translate 'Low chance to be contacted. Public profile displayed as "poorly completed profile"' %}
                        {% elif user.profile.completion <= 80 %}
                            {% translate 'Fair chance to be contacted. Public profile displayed as "fairly completed profile"' %}
                        {% else %}
                            {% translate 'High chance to be contacted. Public profile displayed as "well completed profile"' %}
                        {% endif %}
                        </small></p>
                    </div>
                    <div class="col-12">
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="{% url 'update-profile' user.username %}" class="btn btn-outline-main btn-block" role="button">{% translate 'Update my public profile' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <div class="card-title col-12">
                        <h2 class="mb-1">{% translate 'My account' %}</h2>
                        <p class="helptext">{% translate 'email address, password, username, first name, last name' %}</p>
                    </div>
                    <!-- <div class="col-12">
                        <ul class="list-unstyled account-settings-list text-secondary mb-2">
                            <li class="d-flex justify-content-between">
                                <p>{% translate 'Email address' %}</p><p>{{ user.email }}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% translate 'Password' %}</p><p>********</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% translate 'Username' %}</p><p>{{ user.username }}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% translate 'First name' %}</p><p>{{ user.first_name }}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% translate 'Last name' %}</p><p>{{ user.last_name }}</p>
                            </li>
                        </ul>
                    </div> -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a href="{% url 'update-account' user.username %}" class="btn btn-outline-main btn-block" role="button">{% translate 'Update my account settings' %}</a>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="{% url 'delete-account' user.username %}" class="btn btn-danger btn-block" role="button">{% translate 'Delete my account' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-body">
        <div id="cal-events" class="row">
            <div class="card-title col-12">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h2>{% translate 'My calendar' %}</h2>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'availabilities:create' %}" class="btn btn-main btn-add-new pl-3 pr-4 mb-2 py-1" role="button"><span class="align-middle h3">+</span><span class="d-none d-xl-inline-block align-middle ml-2">{% translate 'Add an availability' %}</span><img src="{% static 'img/icon_availability.png' %}" class="ml-2" height="25" alt="{% translate 'Add an availability' %}"></a>
                        <a href="{% url 'outings:create' %}" class="btn btn-main btn-add-new pl-3 pr-4 mb-2 py-1" role="button"><span class="align-middle h3">+</span><span class="d-none d-xl-inline-block align-middle ml-2">{% translate 'Add an outing' %}</span><img src="{% static 'img/icon_outing.png' %}" class="ml-2" height="25" alt="{% translate 'Add an outing' %}"></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                {% if not availabilities %}
                <div class="alert alert-warning" role="alert">
                    {% translate "<strong>You have not created any availability yet.</strong> Create one by clicking on the <span class='badge badge-pill badge-main'>+ Add an availability</span> button above or by clicking" %} <a href="{% url 'availabilities:create' %}">{% translate "here." %}</a> {% translate "Frequently filling out and updating your availabilities in your calendar is highly advisable: potential partners can find you in the 'profiles page' when they filter by availability dates. This way you show that you intend to go out but don't know what to do exactly and are opened to suggestions." %}
                </div>
                {% endif %}
                {% if not outings %}
                <div class="alert alert-info" role="alert">
                    {% translate "<strong>You have not created any outing yet.</strong> Create one by clicking on the <span class='badge badge-pill badge-main'>+ Add an outing</span> button above or by clicking" %} <a href="{% url 'outings:create' %}">{% translate "here." %}</a> {% translate "By filling out an outing, potential partners can find your proposal in the 'outings page', get in touch with you and, if you want, join you on that outing." %}
                </div>
                {% endif %}
            </div>
            <div class="col-12">
                <div id="cal-events" class="row">
                    <div class="col-12">
                        {{ cal_events }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if outings %}
<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="card-title col-12">
                <h2>{% translate 'My outings' %}</h2>
            </div>
        </div>
        <ul class="row no-gutters list-unstyled">
        {% for outing in outings %}
            <li class="col-12">
                <div class="card mb-2">
                    <div class="card-body py-2">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-auto mr-auto">
                                <a href="{{ outing.get_absolute_url }}">{{ outing.title }}</a> ({{ outing.start_date|date:"SHORT_DATE_FORMAT" }} - {{ outing.end_date|date:"SHORT_DATE_FORMAT" }})
                            </div>
                            <div class="col-auto col-lg-auto">
                                <a href="{% url 'outings:update' outing.slug %}"><img src="{% static 'img/icon_edit.png' %}" class="float-left ml-2" height="24" alt="{% translate 'Edit icon' %}" title="{% translate 'Edit outing' %}"></a>
                            </div>
                            <div class="col-auto col-lg-auto">
                                <a href="{% url 'outings:delete' outing.slug %}"><img src="{% static 'img/icon_delete.png' %}" class="float-left ml-2" height="24" alt="{% translate 'Delete icon' %}" title="{% translate 'Delete outing ' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<div class="card mb-4">
    <div class="card-body">
        <div class="row mb-2">
            <div class="card-title col-12">
                <h2>{% translate 'Exports' %}</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'profiles:export-profiles-to-xlsx' %}" class="btn btn-main btn-add-new pl-3 pr-4 mb-2 py-1" role="button"><span class="align-middle h3">+</span><span class="align-middle ml-2">{% translate 'Export profiles to Excel format' %}</span></a>
            </div>
        </div>
        {% if user.is_superuser %}
        <div class="row mb-2">
            <div class="card-title col-12">
                <h2>{% translate 'Imports / Exports for superadmins' %}</h2>
            </div>
            <div class="col-12">
                <a href="#" class="btn btn-main btn-add-new pl-3 pr-4 mb-2 py-1" role="button"><span class="align-middle h3">+</span><span class="align-middle ml-2">{% translate 'Export outings' %}</span></a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
    <div class="row mb-4">
        <div class="col-12">
            <a href="{% url 'login' %}" class="btn btn-main btn-block" role="button">{% translate 'Sign in' %}</a>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block js %}
<script>
    var previousMonthUrl = "{% url 'my-profile' %}?{{ prev_month }}#cal-events"
    var nextMonthUrl = "{% url 'my-profile' %}?{{ next_month }}#cal-events"
</script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}