{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
<!-- <link rel="stylesheet" href="{% static 'css/20191113nouislider/nouislider.min.css' %}"> -->
{% endblock %}

{% block title %}{% trans 'Update my profile' %} | {{ block.super }}{% endblock %}

{% block content %}
<div>
    <form enctype="multipart/form-data" method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-sm-4 mb-4">
                {{ form.public_profile }}
                {{ form.public_profile.errors }}
                {% if form.public_profile.help_text %}
                    <p class="helptext">{{ form.public_profile.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4 mb-4">
                {{ form.profile_picture.label_tag }}
                {{ form.profile_picture }}
                {{ form.profile_picture.errors }}
                {% if form.profile_picture.help_text %}
                    <p class="helptext">{{ form.profile_picture.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4 mb-4">
                {{ form.birthdate.label_tag }}
                {% if form.birthdate.help_text %}
                    <p class="helptext">{{ form.birthdate.help_text|safe }}</p>
                {% endif %}
                <div class="input-group">
                    <input type="text" name="{{ form.birthdate.name }}"{% if form.birthdate.value != None %} value="{{ form.birthdate.value|stringformat:'s' }}"{% endif %} class="form-control" id="id_{{ form.birthdate.name }}">
                    <div id="id_{{ form.birthdate.name }}_clear_container" class="input-group-append">
                        <button id="id_{{ form.birthdate.name }}_clear" type="button" class="btn btn-danger" title="Clear">X</button>
                    </div>
                </div>
                {{ form.birthdate.errors }}
            </div>
            <div class="col-12 mb-4">
                {{ form.activities.label_tag }}
                {% if form.activities.help_text %}
                    <p class="helptext">{{ form.activities.help_text|safe }}</p>
                {% endif %}
                {{ form.activities }}
                {{ form.activities.errors }}
                <p id="demo"></p>
            </div>
            <div class="col-12 mb-4">
                {{ form.grades.label_tag }}
                {% if form.grades.help_text %}
                    <p class="helptext">{{ form.grades.help_text|safe }}</p>
                {% endif %}
                {{ form.grades }}
                {{ form.grades.errors }}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.location.label_tag }}
                {% if form.location.help_text %}
                    <p class="helptext">{{ form.location.help_text|safe }}</p>
                {% endif %}
                <div id="locationformmap" style="height: 350px;"{% if form.location.errors %} class="p-1 rounded is-invalid"{% endif %}></div>
                <input id="locationcoordinates" name="{{ form.location.name }}" value="" type="hidden"/>
                {{ form.location.errors }}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.availability_area_geo.label_tag }}
                {% if form.availability_area_geo.help_text %}
                    <p class="helptext">{{ form.availability_area_geo.help_text|safe }}</p>
                {% endif %}
                <div id="availabilityformmap" style="height: 350px;"{% if form.availability_area_geo.errors %} class="p-1 rounded is-invalid"{% endif %}></div>
                <input id="areacoordinates" name="{{ form.availability_area_geo.name }}" value="" type="hidden"/>
                {{ form.availability_area_geo.errors }}
            </div>
            <div class="col-12 mb-4">
                {{ form.availability_area.label_tag }}
                {% if form.availability_area.help_text %}
                    <p class="helptext">{{ form.availability_area.help_text|safe }}</p>
                {% endif %}
                {{ form.availability_area }}
                {{ form.availability_area.errors }}
            </div>
            <div class="col-12 mb-4">
                {{ form.introduction.label_tag }}
                {% if form.introduction.help_text %}
                    <div class="helptext">{{ form.introduction.help_text|safe }}</div>
                {% endif %}
                {{ form.introduction }}
                {{ form.introduction.errors }}
            </div>
            <div class="col-12 mb-4">
                {{ form.list_of_courses.label_tag }}
                {% if form.list_of_courses.help_text %}
                    <p class="helptext">{{ form.list_of_courses.help_text|safe }}</p>
                {% endif %}
                {{ form.list_of_courses }}
                {{ form.list_of_courses.errors }}
            </div>
        </div>
        <div class="form-end-buttons-side mb-4">
            <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
            {% if profile %}
            <a href="{% url 'my-profile' %}" class="btn btn-secondary ml-2" role="button">{% trans 'Cancel' %}</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock%}

{% block js %}
<!-- sliders -->
<!-- <script src="{% static 'js/20191113nouislider/nouislider.min.js' %}"></script>
<script>
    let slider = document.getElementById('randonnee_slider');

    noUiSlider.create(slider, {
        start: 1,
        range: {
            'min': 1,
            'max': 5
        }
    });
</script> -->
<!-- Display only grades corresponding to the selected activities -->
<script>
let httpRequest;
let activitiesElts = document.querySelectorAll("input[name=activities]");

for (let i = 0; i < activitiesElts.length; i++) {
    activitiesElts[i].addEventListener("change", makeRequest);
}

function makeRequest() {
    let checkedActivities = "";
    for (let i = 0; i < activitiesElts.length; i++) {
        if (activitiesElts[i].checked){
            if (checkedActivities != "") {
                checkedActivities += "&a=" + activitiesElts[i].value;
            } else {
                checkedActivities += "a=" + activitiesElts[i].value;
            }
        }
    }
    let checkedGrades = "";
    let checkedGradesElts = document.querySelectorAll("input[name=grades]:checked");
    for (let i = 0; i < checkedGradesElts.length; i++) {
        if (checkedGrades != "") {
            checkedGrades += "&g=" + checkedGradesElts[i].value;
        } else {
            checkedGrades += "g=" + checkedGradesElts[i].value;
        }
    }
    let params = "";
    if (checkedGrades != "") {
        params = checkedActivities + "&" + checkedGrades;
    } else {
        params = checkedActivities;
    }
    httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = alertContents;
    httpRequest.open('POST', '{% url "profiles:ajax-load-grades" %}');
    httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    httpRequest.send(params);
}

function alertContents() {
    if (httpRequest.readyState === XMLHttpRequest.DONE) {
        if (httpRequest.status === 200) {
            document.getElementById("id_grades").innerHTML = httpRequest.responseText;
        } else {
            alert('Il y a eu un problème avec la requête.');
        }
    }
}
</script>
<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/it.js"></script>
<script>
    var birthdateCalendar = flatpickr("#id_birthdate", {
        locale: "{{ LANGUAGE_CODE }}",
        altInput: true,
        altFormat: "j F Y",
        dateFormat: "Y-m-d",
    });

    var birthdateClearElt = document.getElementById('id_{{ form.birthdate.name }}_clear');
    birthdateClearElt.addEventListener("click", function() {
        birthdateCalendar.clear();
        // var birthdateElt = document.getElementById('id_{{ form.birthdate.name }}');
        // birthdateElt.value = null;
    });

    function isMobileDevice() {
        return ;
    };

    // HIDE THE DELETE BUTTON IF THE WEBSITE IS DISPLAYED ON A SMARTPHONE
    var isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|webOS|BlackBerry|IEMobile|Opera Mini)/i)
    var birthdateClearContainerElt = document.getElementById('id_{{ form.birthdate.name }}_clear_container');
    if (isMobile) {
        birthdateClearContainerElt.style.display = "none";
    }
</script>
<!-- openlayers -->
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script>
// CONVERTING DJANGO VARIABLES IN JS GLOBAL VARIABLES for 'js/ol_point_formfield.js'
    var iconMale = '{% static "img/icon_male_map.png" %}';
    {% if form.location.value is not None %}
        var locationValue = '{{ form.location.value }}';
        var locationJson = {{ form.location.value.json|safe }};
    {% else %}
        var locationValue = null;
        var locationJson = null;
    {% endif %}
</script>
<script src="{% static 'js/ol_point_formfield.js' %}"></script>
<script src="{% static 'js/ol_area_formfield.js' %}"></script>
<script>
// CONVERTING DJANGO VARIABLES IN JS VARIABLES for 'js/ol_area_formfield.js'
    {% if form.availability_area_geo.value.json %}
        // get and draw the initial value saved in the database
        let availabilityAreaGeoJson = {{ form.availability_area_geo.value.json|safe }};
        drawMyArea(availabilityAreaGeoJson);
    {% elif form.availability_area_geo.value %}
        // get and draw the value that is drawn during the profile update (it can be the unmodified database value or a new drawing from the user).
        // this case is useful when the form validation raised an error or more and display back the profile form with the values from the database for the unmodified fields and the values modified fields.
        let availabilityAreaGeoJson = {{ form.availability_area_geo.value|safe }};
        drawMyArea(availabilityAreaGeoJson);
    {% endif %}
</script>
{% endblock %}