{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
{% endblock %}

{% block title %}{% trans "Create a profile" %} | {{ block.super }}{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1>{% trans "Create your profile" %}</h1>
                <div class="alert alert-info" role="alert">
                    {% trans "All fields are mandatory." %}
                </div>
                <form method="post" novalidate class="mt-4" id="profile_register_form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            {{ form.email.label_tag }}
                            {% if form.email.help_text %}
                                <p class="helptext">{{ form.email.help_text|safe }}</p>
                            {% endif %}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="col-sm-6 mb-4">
                            {{ form.username.label_tag }}
                            {% if form.username.help_text %}
                                <p class="helptext">{{ form.username.help_text|safe }}</p>
                            {% endif %}
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.password1.label_tag }}
                            {% if form.password1.help_text %}
                                <div class="helptext">{{ form.password1.help_text|safe }}</div>
                            {% endif %}
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.password2.label_tag }}
                            {% if form.password2.help_text %}
                                <p class="helptext">{{ form.password2.help_text|safe }}</p>
                            {% endif %}
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.activities.label_tag }}
                            {% if form.activities.help_text %}
                                <p class="helptext">{{ form.activities.help_text|safe }}</p>
                            {% endif %}
                            {{ form.activities }}
                            {{ form.activities.errors }}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.availability_area_geo.label_tag }}
                            <span title="{% trans 'How to draw an area?' %}" class="ml-2 help-icon cursor-pointer" data-toggle="modal" data-target="#helpAreaModal"></span>
                            <!-- Modal: help draw area -->
                            {% include "core/modals/help_draw_area.html" %}
                            {% if form.availability_area_geo.help_text %}
                                <p class="helptext">{{ form.availability_area_geo.help_text|safe }}</p>
                            {% endif %}
                            <div id="availabilityformmap" style="height: 350px;"{% if form.availability_area_geo.errors %} class="p-1 rounded is-invalid"{% elif form.availability_area_geo.value %}class="p-1 rounded is-valid"{% endif %}></div>
                            <input id="areacoordinates" name="availability_area_geo" value="" type="hidden"/>
                            {{ form.availability_area_geo.errors }}
                        </div>
                    </div>

                    <div class="form-end-buttons-side">
                        <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
                        <a href="{% url 'profile_register' %}" class="btn btn-secondary ml-2" role="button">{% trans "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<!-- Adding attributes to form inputs -->
<script>
    let usernameInputElt = document.getElementById('id_username');
    let emailInputElt = document.getElementById('id_email');

    usernameInputElt.setAttribute('autocomplete','off');
    emailInputElt.setAttribute('autocomplete','username');
</script>
<!-- openlayers -->
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script src="{% static 'js/ol_area_formfield.js' %}"></script>
<script>
// CONVERTING DJANGO VARIABLES IN JS VARIABLES for 'js/ol_area_formfield.js'
    {% if form.availability_area_geo.value %}
        let availabilityAreaGeoJson = {{ form.availability_area_geo.value|safe }};
        drawMyArea(availabilityAreaGeoJson);
    {% endif %}
</script>
<!-- TESTS -->
<!-- <script src="{% static 'js/ajax.js' %}"></script>-->
<!-- <script>
    // // Hide helptext of all elements of the form
    // let helptextElts = document.getElementsByClassName("helptext");
    // Array.from(helptextElts).forEach(function (e) {
    //     e.style.display = "none";
    // });

    // // Apply dynamic formatting on the form elements
    // let form = document.getElementById("profile_register_form");
    // let formElts = form.elements;
    // let formElt = "";
    // for (let i = 1; i < formElts.length; i++) {
    //     formElt = form.elements[i];
    //     formElt.addEventListener("focus", function () {
    //         // Apply formatting on the focused case
    //         //this.style.backgroundColor = "rgba(128,189,255,0.25)";
    //         // Display the helptext only on the focused case
    //         helptextElt = this.parentNode.getElementsByClassName("helptext");
    //         if (helptextElt[0] !== undefined) {
    //             helptextElt[0].style.display = "block";
    //         }
    //     });
    //     formElt.addEventListener("blur", function () {
    //         // Delete the formatting once the focused case is quited
    //         //this.style.backgroundColor = "#fff";
    //         // Delete the helptext once the focused case is quited
    //         helptextElt = this.parentNode.getElementsByClassName("helptext");
    //         if (helptextElt[0] !== undefined) {
    //             helptextElt[0].style.display = "none";
    //         }
    //     });        
    // }

    // Testing asynchonous HTTP request
    /*
    ajaxGet("http://127.0.0.1:8000/sorties/", function (response) {
        console.log(response);
    })
    

    ajaxGet("/static/js/test_c2c.json/", function (response) {
        console.log(response);
        let route = JSON.parse(response);
        console.log(route);
        route.activities.forEach(function (activity) {
            console.log(activity);
        });
    })
    */
    
    /*
    // Password 1 verification on client side with JS (length >= 8 and contains at least one lowercase letter)
    formElts.password1.addEventListener("input", function () {
        let pwd1 = this.value;
        pwd1Length = pwd1.length;
        
        if (pwd1Length >= 8) {
            color = "green";
        } else {
            color = "red";
        }
        
        let pwd1Letter = "Password must contain at least one lowercase letter (a-z)";
        regex = /[a-z]/;
        if (regex.test(pwd1)) {
            pwd1Letter = "";
        }

        let pwd1LengthElt = document.getElementById("pwd_length");
        pwd1LengthElt.textContent = "Password length: " + pwd1Length + " | " + pwd1Letter; // Add in HTML : <div id="pwd_length"></div>
        pwd1LengthElt.style.color = color;
    })

    /*
    // Display the phone number only if the user click on the button
    let phoneNumber = "0678987654";
    let phoneNumberZoneElt = document.createElement("div");
    let buttonElt = document.createElement("button");
    buttonElt.textContent = "Phone number";
    phoneNumberZoneElt.appendChild(buttonElt);
    buttonElt.addEventListener("click", function () {
        let phoneNumberElt = document.createElement("div");
        phoneNumberElt.textContent = phoneNumber;
        phoneNumberZoneElt.innerHTML = "";
        phoneNumberZoneElt.appendChild(phoneNumberElt);
    });
    let phoneZoneElt = document.createElement("p");
    phoneZoneElt.appendChild(phoneNumberZoneElt);
    document.getElementById("phNumZone").appendChild(phoneZoneElt); // ADD <div id="phNumZone"></div> in the HTML
    */
</script> -->
{% endblock %}