{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
<!-- flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- openlayers -->
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
{% endblock %}

{% block title %}{% translate 'Profiles list' %} | {{ block.super }}{% endblock %}

{% block leftsidebar %}
    <div class="wrap-collabsible mb-4">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="label-toggle">{% translate 'Filters' %}</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <form id="profile-form" method="get" action="{% url 'profiles:list' %}">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <h6 class="filter_title">{% translate 'Activities' %}</h6>
                            {% include "forms/activities.html" %}
                        </div>
                        <div class="form-group col-12">
                            <h6 class="filter_title">{% translate 'Where' %} <small>{% translate '(draw on the map)' %}</small><span title="{% translate 'How to draw an area?' %}" class="ml-2 help-icon cursor-pointer" data-toggle="modal" data-target="#helpAreaModal"></span></h6>
                            <!-- Modal: help draw area -->
                            {% include "core/modals/help_draw_area.html" %}
                            {% include "forms/availability_area_input.html" %}
                            {% if user.is_authenticated and user.profile.availability_area_geo %}
                            <div class="ol-outside-button mt-1"><button type="button" id="draw_my_area">{% translate 'Automatically draw my area on the map' %}</button></div>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated and user.profile.location %}
                        <div class="form-group col-12">
                            <div class="toggle-switch-box">
                                <label for="id_around_me">{% translate "Around my profile location (50 km)" %}</label>
                                <input type="checkbox" class="toggle-switch" name="around_me" id="id_around_me" {% if around_me %}checked{% endif %}>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group col-12">
                            <h6 class="filter_title">{% translate 'Dates of availability' %}</h6>
                            <div class="form-row">
                                <div class="form-group col-6 col-xl-12 mb-0">
                                    <h6 class="mb-1 text-secondary filter_subtitle">{% translate 'From' %}</h6>
                                    <div class="input-group mb-2">
                                        <input type="text" name="start_date" class="form-control" id="id_start_date"{% if start_date %} value={{ start_date }}{% endif %}>
                                        <div id="id_start_date_clear_container" class="input-group-append">
                                            <button id="id_start_date_clear" type="button" class="btn btn-secondary btn-clear-date" title="Clear">X</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6 col-xl-12 mb-0">
                                    <h6 class="mb-1 text-secondary filter_subtitle">{% translate 'Till' %}</h6>
                                    <div class="input-group">
                                        <input type="text" name="end_date" class="form-control" id="id_end_date"{% if end_date %} value={{ end_date }}{% endif %}>
                                        <div id="id_end_date_clear_container" class="input-group-append">
                                            <button id="id_end_date_clear" type="button" class="btn btn-secondary btn-clear-date" title="Clear">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <button class="btn btn-outline-main btn-block" type="submit">{% translate "Filter" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block rightsidebar %}
    {% if user.is_anonymous %}
        <div class="text-center d-none d-xl-block">
            <a href="{% url 'profile_register' %}" class="btn btn-main">{% translate "Add my profile" %}</a>
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    {% if profile_list %}
        <p>
            {% blocktranslate count counter=nb_of_results %}
            {{ counter }} profile
            {% plural %}
            {{ counter }} profiles
            {% endblocktranslate %}
        </p>
<!--         <p>
            <small>
                <span class="px-2 badge-pill border bg-success">{% translate "well completed" %}</span>
                <span class="px-2 badge-pill border bg-warning">{% translate "fairly completed" %}</span>
                <span class="px-2 badge-pill border bg-danger">{% translate "poorly completed" %}</span>
            </small>
        </p> -->
        <div class="row">
            {% for profile in profile_list %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100 cursor-pointer" onclick="document.location='{{ profile.get_absolute_url }}'">
                    {% include "core/cards/profile.html" %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{% translate 'There is no profile matching your search criteria.' %}</p>
    {% endif %}
    {% if user.is_anonymous %}
        <a href="{% url 'profile_register' %}" class="btn btn-main btn-circle btn-add d-block d-xl-none"></a>
    {% endif %}
{% endblock %}

{% block js %}
<!-- Add a css class to selectable-items-list to avoid :hover on mobiles -->
<script src="{% static 'js/detect-no-touch.js' %}"></script>
<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/it.js"></script>
<script>
    let startDateCalendar = flatpickr("#id_start_date", {
        locale: "{{ LANGUAGE_CODE }}",
        altInput: true,
        altFormat: "j F Y",
        dateFormat: "Y-m-d",
        minDate: "today",
    });
    let endDateCalendar = flatpickr("#id_end_date", {
        locale: "{{ LANGUAGE_CODE }}",
        altInput: true,
        altFormat: "j F Y",
        dateFormat: "Y-m-d",
        minDate: "today",
    });

    let startDateClearElt = document.getElementById('id_start_date_clear');
    let endDateClearElt = document.getElementById('id_end_date_clear');
    startDateClearElt.addEventListener("click", function() {
        startDateCalendar.clear();
    });
    endDateClearElt.addEventListener("click", function() {
        endDateCalendar.clear();
    });

    function isMobileDevice() {
        return ;
    };

    // HIDE THE DELETE BUTTON IF THE WEBSITE IS DISPLAYED ON A SMARTPHONE
    let isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|webOS|BlackBerry|IEMobile|Opera Mini)/i)
    let startDateClearContainerElt = document.getElementById('id_start_date_clear_container');
    if (isMobile) {
        startDateClearContainerElt.style.display = "none";
    }
    let endDateClearContainerElt = document.getElementById('id_end_date_clear_container');
    if (isMobile) {
        endDateClearContainerElt.style.display = "none";
    }
</script>
<!-- Dates form validation -->
<script>
// NOTIFY START DATE > END DATE TO THE INTERNAUT WHEN HE MAKE THE MISTAKE
    const startDateElt = document.getElementById('id_start_date');
    const endDateElt = document.getElementById('id_end_date');

    let startDate = startDateElt.value;
    let endDate = endDateElt.value;

    function checkDatesCompatibility(startDate, endDate) {
        if (startDate <= endDate || endDate === "") {
            const errorListElt = document.getElementById("date_errors");
            if (errorListElt) {
                errorListElt.parentNode.removeChild(errorListElt);
            }
        } else {
            const errorListElt = document.getElementById("date_errors");
            if ( errorListElt === null ) {
                datesFormElt = endDateElt.parentNode.parentNode;
                const errorListElt = document.createElement("ul");
                errorListElt.id = "date_errors";
                errorListElt.classList.add("errorlist");
                datesFormElt.appendChild(errorListElt);
                const errorItemElt = document.createElement("li");
                errorItemElt.textContent = "Your end date is not equal or later than your start date.";
                errorListElt.appendChild(errorItemElt);
            }
        }
    }

    startDateElt.addEventListener('change', function() {
        if (startDateElt.value) {
            startDate = new Date(startDateElt.value);
        } else {
            startDate = "";
        }
        checkDatesCompatibility(startDate, endDate);
    });

    endDateElt.addEventListener('change', function() {
        if (endDateElt.value) {
            endDate = new Date(endDateElt.value);
        } else {
            endDate = "";
        }
        checkDatesCompatibility(startDate, endDate);
    });
</script>
<!-- openlayers -->
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script>
    let locateIcon = '{% static "img/icon_geoloc.svg" %}';
</script>
<script src="{% static 'js/ol_area_formfield.js' %}"></script>
<script>
// CONVERTING DJANGO VARIABLES IN JS VARIABLES for 'js/ol_area_formfield.js'
    {% if user.profile.availability_area_geo %}
        let myAvailabilityAreaGeoJson = {{ user.profile.availability_area_geo.json|safe }};

        const drawMyAreaElt = document.getElementById('draw_my_area');
        drawMyAreaElt.addEventListener("click", function() {
            areaSource.clear();
            drawMyArea(myAvailabilityAreaGeoJson);
        });
    {% endif %}
    {% if availability_area_geo %}
        let availabilityAreaGeoJson = {{ availability_area_geo|safe }};
        drawMyArea(availabilityAreaGeoJson);
    {% endif %}
</script>
{% endblock %}