{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Profiles list' %} | {{ block.super }}{% endblock %}

{% block leftsidebar %}
    <form type="GET" action="{% url 'profiles:search' %}">
        <div class="form-row">
            <div class="form-group col-12 col-sm-10 col-xl-12">
                <select multiple class="selectpicker form-control" title="{% trans 'Filter by activities' %}" data-style="btn-info" data-selected-text-format="count > 3" name="a">
                    {% for activity in all_activities %}
                        <option><a href="#">{{ activity.name }}</a></option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-12 col-sm-2 col-xl-12">
                <button class="btn btn-outline-success btn-block" type="submit">{% trans "Filter" %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block rightsidebar %}
    {% if user.is_anonymous %}
        <div class="text-center d-none d-xl-block">
            <a href="{% url 'profile_register' %}" class="btn btn-success">{% trans "Add my profile" %}</a>
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    {% if profile_list %}
        {% if selected_activities is not None %}
            <p>
                {% blocktrans count counter=nb_of_results %}
                One profile belongs to one of the following categories:
                {% plural %}
                {{ counter }} profiles belong to one of the following categories:
                {% endblocktrans %}
                {% for activity in selected_activities %}
                    <span class="badge badge-pill badge-info">{{ activity }}</span>
                {% endfor %}
            </p>
        {% endif %}
        <div class="row">
            {% for profile in profile_list %}
                <div class="col-md-6 mb-4">
                    <div class="card" onclick="document.location='{{ profile.get_absolute_url }}'" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="row align-items-start">
                                <div class="col-3 mb-2">
                                    {% if profile.profile_picture %}
                                    <img src="{{ profile.profile_picture.url }}" class="img-fluid" alt="Profile picture">
                                    {% else %}
                                    <img src="{% static 'img/icon_user.png' %}" class="img-fluid img-thumbnail" alt="Default profile picture">
                                    {% endif %}
                                </div>
                                <div class="col-9">
                                    <h5><a href="{{ profile.get_absolute_url }}">{% include "profiles/snippets/username.html" %}</a></h5>
                                    <p class="card-text">
                                        <span class="font-weight-bold">{{ profile.availability_area }}</span><br>{{ profile.distance.km }}
                                        {% if profile.age %}<br>{% blocktrans with profile_age=profile.age %}{{ profile_age }} years{% endblocktrans %}{% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text">
                                        {% for activity in profile.activities.all %}
                                            <span class="badge badge-pill badge-info mb-1">{{ activity.name }}</span>
                                        {% endfor %}<br>
                                        {{ profile.introduction|truncatechars:200 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans 'There is no profile matching your search criteria.' %}</p>
    {% endif %}
    {% if user.is_anonymous %}
        <a href="{% url 'profile_register' %}" class="btn btn-success btn-circle btn-add d-block d-xl-none">+</a>
    {% endif %}
{% endblock %}