{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
{% endblock %}

{% block title %}{{ profile.user.username }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <div class="row align-items-start mb-3">
            <div class="col-4 col-md-2 order-md-1">
                {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" class="img-fluid mb-2" alt="Profile picture">
                {% else %}
                <img src="{% static 'img/icon_user.png' %}" class="img-fluid img-thumbnail" alt="Default profile picture">
                {% endif %}
            </div>
            <div class="col-8 col-md-3 order-md-3">
                {% if user.is_authenticated and profile.user.username == user.username %}
                <a href="{% url 'update-profile' user.username %}"><img src="{% static 'img/icon_edit.png' %}" class="float-right ml-2" height="30" alt="{% trans 'Edit icon' %}" title="{% trans 'Edit public profile' %}"></a>
                {% else %}
                <a href="{% url 'profiles:contact-profile' profile.user.username %}" class="btn btn-success float-right">{% trans 'Get in touch' %}</a>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 order-md-2">
                <h5>{% include "profiles/snippets/username.html" %}</h5>
                <p>
                    {% if profile.age %}{% blocktrans with age=profile.age %}Age: {{ age }} years old{% endblocktrans %}<br>{% endif %}
                    {% trans 'Looking for partners for' %}
                    {% for activity in profile.activities.all %}
                        <span class="badge badge-pill badge-info">{{ activity.name }}{% for grade in profile.grades.all %}{% if grade.activity.name == activity.name %} - {{ grade.name }}{% endif %}{% endfor %}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
        {% if profile.location or profile.availability_area_geo %}
            <div class="row mb-3">
                <div class="col-12">
                    {% if profile.location and profile.availability_area_geo %}
                    <h1 class="h5">{% trans "Location & Availability area" %}</h1>
                    {% elif profile.location and not profile.availability_area_geo %}
                    <h1 class="h5">{% trans "Location" %}</h1>
                    {% else %}
                    <h1 class="h5">{% trans "Availability area" %}</h1>
                    {% endif %}
                    <div id="location_map" style="height: 450px;"></div>
                </div>
            </div>
        {% endif %}
        {% if profile.availability_area %}
            <div class="row mb-3">
                <div class="col-12">
                    <h1 class="h5">{% trans "Availability area (further details):" %}</h1>
                    <p class="text-justify card-text">{{ profile.availability_area }}</p>
                </div>
            </div>
        {% endif %}
        {% if profile.introduction %}
            <div class="row mb-3">
                <div class="col-12">
                    <h1 class="h5">{% trans "Introduction" %}</h1>
                    <p class="text-justify card-text">{{ profile.introduction|linebreaksbr }}</p>
                </div>
            </div>
        {% endif %}
        {% if profile.list_of_courses %}
            <div class="row mb-3">
                <div class="col-12">
                    <h1 class="h5">{% trans "List of main courses" %}</h1>
                    <p class="text-justify card-text">{{ profile.list_of_courses|linebreaksbr }}</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% if profile.user.outing_set.all %}
    <h1 class="h2">{% trans 'Its outing propositions' %}</h1>
    <div class="row">
        {% for outing in profile.user.outing_set.all %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ outing.get_absolute_url }}" class="stretched-link unstyled">{{ outing.title }}</a></h5>
                    <p class="card-text">
                        {% blocktrans with start_date=outing.start_date|date:"SHORT_DATE_FORMAT" end_date=outing.end_date|date:"SHORT_DATE_FORMAT" count duration=outing.duration %}
                        During the day<br>{{ start_date }}
                        {% plural %}
                        {{ duration }} days<br>{{ start_date }} - {{ end_date }}
                        {% endblocktrans %}
                        <br>
                        {% for activity in outing.activities.all %}
                            <span class="badge badge-pill badge-info">{{ activity.name }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% if profile.user.outing_set.all or profile.user.availability_set.all %}
    <div id="cal-events" class="row mb-4">
        <div class="col-12">
            {{ cal_events }}
        </div>
    </div>
{% endif %}
{% endblock%}

{% block js %}
<script>
    var previousMonthUrl = "{% url 'profiles:detail' profile.user.username %}?{{ prev_month }}#cal-events"
    var nextMonthUrl = "{% url 'profiles:detail' profile.user.username %}?{{ next_month }}#cal-events"
</script>
{% if profile.user.outing_set.all or profile.user.availability_set.all %}
<script src="{% static 'js/calendar.js' %}"></script>
{% endif %}
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
{% if profile.location or availability_area_geo_poly %}
<script>
    // BASE MAP
        var attribution = new ol.control.Attribution({
            collapsible: true
        });
        var lmap = new ol.Map({
            // TARGET
            target: 'location_map',

            // ATTRIBUTIONS OF THE BASE MAP
            controls: ol.control.defaults({attribution: false}).extend([attribution]),

            // LAYERS
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png',
                        attributions: ['Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                        ],
                    })
                })
            ],

            loadTilesWhileAnimating: true,

            // VIEW (default projection is Spherical Mercator (EPSG:3857), with meters as map units)
            view: new ol.View({
                center: ol.proj.fromLonLat([7.41, 48.82]),
                zoom: 4,
                minZoom:2,
                maxZoom: 18
            })
        });

    // DEFINING LAYER, SOURCE AND STYLES PER GEOMETRY
        var styles = {
            'Point': new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 1],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'fraction',
                    src: '{% static "img/icon_male_map.png" %}',
                    scale: 0.8,
                    opacity: 1
                })
            }),
            'Polygon': new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'rgba(50, 150, 255, 1)',
                    lineDash: [5],
                    width: 2
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(50, 150, 255, 0.3)'
                })
            })
        };
        var styleFunction = function(feature) {
            return styles[feature.getGeometry().getType()];
        };
        const source = new ol.source.Vector();
        const layer = new ol.layer.Vector({
            source: source,
            style: styleFunction
        });
        lmap.addLayer(layer);

    {% if profile.location %}
    // DISPLAYING LOCATION
        var geojsonObject = {
            "type": "Feature",
            "geometry": {{ profile.location.geojson|safe }},
            "properties": {
                "name": "{{ profile.user.username}}"
            }
        };
        // const profileLocIconStyle = new ol.style.Style({
        //     geometry: 'Point',
        //     image: new ol.style.Icon({
        //         anchor: [0.5, 1],
        //         anchorXUnits: 'fraction',
        //         anchorYUnits: 'fraction',
        //         src: '{% static "img/icon_male_map.png" %}',
        //         scale: 0.8,
        //         opacity: 1
        //     })
        // });
        const locationFeatures = (new ol.format.GeoJSON({featureProjection: lmap.getView().getProjection()})).readFeatures(geojsonObject);
        // locationFeatures[0].setStyle(profileLocIconStyle);
        source.addFeatures(locationFeatures);

    {% endif %}

    {% if availability_area_geo_poly %}
    // DISPLAYING AVAILABILITY AREA
        // const availabilityPolyStyle = new ol.style.Style({
        //     fill: new ol.style.Fill({
        //         color: 'rgba(50, 150, 255, 0.3)'
        //     }),
        //     stroke: new ol.style.Stroke({
        //         color: 'rgba(50, 150, 255, 1)',
        //         width: 2
        //     })
        // });
        const polygonFeature = new ol.Feature({
            geometry: new ol.geom.Polygon([{{ availability_area_geo_poly }}]).transform('EPSG:4326', lmap.getView().getProjection())
        });
        // polygonFeature.setStyle(availabilityPolyStyle);
        source.addFeature(polygonFeature);
    {% endif %}

    // FITTING THE ZOOM TO THE FEATURES
    lmap.getView().fit(source.getExtent(), {
            maxZoom: 10,
            duration: 500
        });
</script>
{% endif %}
{% endblock %}