{% load i18n %}{% translate 'Hi' %} {{ customuser.username }},

{% blocktranslate %}You have successfully deleted your Bourseauxcompagnons account and all its data.
We hope that you found partners thanks to our website. If not we're sure that you managed to find some in other ways.

You're welcome to tell us about your bourseauxcompagnons experience by responding to this mail. It's useful for us to have some feedback :){% endblocktranslate %}

{% translate 'Sportively yours' %}

Bourse aux compagnons (https://bourseauxcompagnons.fr) {% translate 'facilitates the bringing together of mountain sportsmen and sportswomen.' %}