{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
{% endblock %}

{% block title %}{% trans 'Update my profile' %} | {{ block.super }}{% endblock %}

{% block content %}
<div>
    <form enctype="multipart/form-data" method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-sm-4 mb-4">
                {{ form.public_profile.label_tag }}
                {{ form.public_profile }}
                {{ form.public_profile.errors }}
                {% if form.public_profile.help_text %}
                    <p class="helptext">{{ form.public_profile.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4 mb-4">
                {{ form.profile_picture.label_tag }}
                {{ form.profile_picture }}
                {{ form.profile_picture.errors }}
                {% if form.profile_picture.help_text %}
                    <p class="helptext">{{ form.profile_picture.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4 mb-4">
                {{ form.birthdate.label_tag }}
                <div class="input-group">
                    <input type="text" name="{{ form.birthdate.name }}"{% if form.birthdate.value != None %} value="{{ form.birthdate.value|stringformat:'s' }}"{% endif %} class="form-control" id="id_{{ form.birthdate.name }}">
                    <div id="id_{{ form.birthdate.name }}_clear_container" class="input-group-append">
                        <button id="id_{{ form.birthdate.name }}_clear" type="button" class="btn btn-danger" title="Clear">X</button>
                    </div>
                </div>
                {{ form.birthdate.errors }}
                {% if form.birthdate.help_text %}
                    <p class="helptext">{{ form.birthdate.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.activities.label_tag }}
                {{ form.activities }}
                {{ form.activities.errors }}
                {% if form.activities.help_text %}
                    <p class="helptext">{{ form.activities.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.availability_area.label_tag }}
                {{ form.availability_area }}
                {{ form.availability_area.errors }}
                {% if form.availability_area.help_text %}
                    <p class="helptext">{{ form.availability_area.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.location.label_tag }}
                <div id="locationformmap" class="col-12" style="height: 350px;"></div>
                <input id="locationcoordinates" name="location" value="" type="hidden"/>
                {{ form.location.errors }}
                {% if form.location.help_text %}
                    <p class="helptext">{{ form.location.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 mb-4">
                {{ form.availability_area_geo.label_tag }}
                <div id="availabilityformmap" class="col-12" style="height: 350px;"></div>
                <input id="areacoordinates" name="availability_area_geo" value="" type="hidden"/>
                {{ form.availability_area_geo.errors }}
                {% if form.availability_area_geo.help_text %}
                    <p class="helptext">{{ form.availability_area_geo.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-12 mb-4">
                {{ form.introduction.label_tag }}
                {{ form.introduction }}
                {{ form.introduction.errors }}
                {% if form.introduction.help_text %}
                    <div class="helptext">{{ form.introduction.help_text|safe }}</div>
                {% endif %}
            </div>
            <div class="col-12 mb-4">
                {{ form.list_of_courses.label_tag }}
                {{ form.list_of_courses }}
                {{ form.list_of_courses.errors }}
                {% if form.list_of_courses.help_text %}
                    <p class="helptext">{{ form.list_of_courses.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
        {% if profile %}
        <a href="{% url 'my-profile' %}" class="btn btn-secondary" role="button">{% trans 'Cancel' %}</a>
        {% endif %}
    </form>
    <!-- {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %} -->
</div>
{% endblock%}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/it.js"></script>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script>
    flatpickr("#id_birthdate", {
        locale: "{{ LANGUAGE_CODE }}",
        dateFormat: "Y-m-d",
    });

    var birthdateClearElt = document.getElementById('id_{{ form.birthdate.name }}_clear');
    birthdateClearElt.addEventListener("click", function() {
        var birthdateElt = document.getElementById('id_{{ form.birthdate.name }}');
        birthdateElt.value = null;
    });

    function isMobileDevice() {
        return ;
    };

    // HIDE THE DELETE BUTTON IF THE WEBSITE IS DISPLAYED ON A SMARTPHONE
    var birthdateClearContainerElt = document.getElementById('id_{{ form.birthdate.name }}_clear_container');
    if (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1) {
        birthdateClearContainerElt.style.display = "none";
    }
</script>
<script>
    // BASE MAP
        var attributionCustom = new ol.control.Attribution({
            collapsible: true
        });
        var map = new ol.Map({
            // TARGET
            target: 'locationformmap',

            // ATTRIBUTIONS OF THE BASE MAP
            controls: ol.control.defaults({attribution: false, rotate:false}).extend([attributionCustom]),

            // INTERACTIONS
            interactions: ol.interaction.defaults({
                altShiftDragRotate: false,
                pinchRotate: false
            }),

            // LAYERS
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png',
                        attributions: ['Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                        ],
                    })
                })
            ],

            loadTilesWhileAnimating: true,

            // VIEW (default projection is Spherical Mercator (EPSG:3857), with meters as map units)
            view: new ol.View({
                center: ol.proj.fromLonLat([7.41, 48.82]),
                zoom: 4,
                minZoom:2,
                maxZoom: 18
            })
        });

    // FULLSCREEN OPTION
        map.addControl(new ol.control.FullScreen());

    // GEOLOCATION
        // Creating the geolocation source included in a specific layer linked with the map
        const geolocSource = new ol.source.Vector();
        const geolocLayer = new ol.layer.Vector({
            source: geolocSource
        });
        map.addLayer(geolocLayer);
        // Defining success and error functions and the options object
        function success(pos) {
            const coords = [pos.coords.longitude, pos.coords.latitude];
            const accuracy = ol.geom.Polygon.circular(coords, pos.coords.accuracy);
            geolocSource.clear(true);
            geolocSource.addFeatures([
                new ol.Feature(accuracy.transform('EPSG:4326', map.getView().getProjection())),
                new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coords)))
            ]);
        };
        function error(err) {
            switch(err.code) {
                case err.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case err.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case err.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case err.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        };
        options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };
        // Activate the geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
        // Create a button to allow the user to center the map on its geolocation
        const locate = document.createElement('div');
        locate.className = 'ol-control ol-unselectable locate-button';
        locate.innerHTML = '<button type="button" title="Locate me">◎</button>';
        locate.addEventListener('click', function() {
            if (!geolocSource.isEmpty()) {
                map.getView().fit(geolocSource.getExtent(), {
                    maxZoom: 10,
                    duration: 500
                });
            } else {
                return false;
            }
        });
        map.addControl(new ol.control.Control({
            element: locate
        }));

    // DEFINING LAYER, SOURCE & STYLE
        const profileLocIconStyle = new ol.style.Style({
            image: new ol.style.Icon({
                anchor: [0.5, 1],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                src: '{% static "img/icon_male_map.png" %}',
                scale: 0.8,
                opacity: 1
            })
        });
        const source = new ol.source.Vector();
        const layer = new ol.layer.Vector({
            source: source,
            style: profileLocIconStyle
        });
        map.addLayer(layer);

    {% if form.location.value is not None %}
    // DISPLAYING CURRENT LOCATION
        // ADDING THE LOCATION TO THE MAP
        const currentLocation = {{ form.location.value.json|safe }};
        var geojsonObject = {
            "type":"FeatureCollection",
            "features":[{
                "type": "Feature",
                "geometry": currentLocation,
                "properties": null
            }]
        };
        const locationFeatures = (new ol.format.GeoJSON({featureProjection: map.getView().getProjection()})).readFeatures(geojsonObject);
        source.addFeatures(locationFeatures);
        // INITIALIZING THE LOCATION FORM FIELD TO ITS INITIAL VALUE IF NOT NONE
        const locationGeojsonStr = (new ol.format.GeoJSON()).writeFeatures(locationFeatures); // by default dataProjection = 'EPSG:4326' in GeoJSON
        const locationGeojsonObj = JSON.parse(locationGeojsonStr);
        const locationGeojsonGeom = locationGeojsonObj.features[0].geometry;
        const locationGeojsonGeomStr = JSON.stringify(locationGeojsonGeom);
        document.getElementById('locationcoordinates').value = locationGeojsonGeomStr;
        // ZOOMING IN THE CURRENT LOCATION
        if (!source.isEmpty()) {
            map.getView().fit(source.getExtent(), {
                maxZoom: 10,
                duration: 500
            });
        }
    {% endif %}

    // ADDING INTERACTION TO ALLOW THE USER TO MOVE THE CURRENT LOCATION
        // location_update = new ol.interaction.Modify({
        //     source: source,
        //     pixelTolerance: 30
        // });
        // map.addInteraction(location_update);

    // ADDING INTERACTION TO ALLOW THE USER TO CREATE A LOCATION
        var location_draw = new ol.interaction.Draw({
            type: 'Point',
            source: source,
            style: profileLocIconStyle
        });
        map.addInteraction(location_draw);

    // PASSING THE COORDINATES OF THE ADDED LOCATION TO THE DJANGO FORM
        location_draw.on("drawstart",function(e){
            source.clear();
        });
        location_draw.on("drawend",function(e){
            var writer = new ol.format.GeoJSON(); // by default dataProjection = 'EPSG:4326'
            var geojsonStr = writer.writeFeatures([e.feature]);
            var geojsonObj = JSON.parse(geojsonStr);
            var geojsonGeom = geojsonObj.features[0].geometry;
            var geojsonGeomStr = JSON.stringify(geojsonGeom);
            document.getElementById('locationcoordinates').value = geojsonGeomStr;
            // coord = e.feature.getGeometry().getCoordinates();
            // // coord = ol.proj.transform(coord, 'EPSG:3857', 'EPSG:4326');
            // // alert(coord);
            // var lon = coord[0];
            // var lat = coord[1];
            // document.getElementById('locationcoordinates').value = "POINT(" + lon + " " + lat + ")";
            // document.getElementById('locationcoordinates').value = coord;
        });
        // location_update.on("drawend",function(e){
        //     var writer = new ol.format.GeoJSON();
        //     //pass the feature as an array
        //     var geojsonStr = writer.writeFeatures([e.feature]);
        //     alert(geojsonStr);
        // });

    // ADDING BUTTON TO ALLOW THE USER TO DELETE ITS LOCATION
        const deleteLocation = document.createElement('div');
        deleteLocation.className = 'ol-control ol-unselectable delete-button';
        deleteLocation.innerHTML = '<button type="button" title="Delete location">x</button>';
        deleteLocation.addEventListener('click', function() {
            source.clear();
            document.getElementById('locationcoordinates').value = null;
        });
        map.addControl(new ol.control.Control({
            element: deleteLocation
        }));

</script>
<script>
    // BASE MAP
        var aAttributionCustom = new ol.control.Attribution({
            collapsible: true
        });
        var amap = new ol.Map({
            // TARGET
            target: 'availabilityformmap',

            // ATTRIBUTIONS OF THE BASE MAP
            controls: ol.control.defaults({attribution: false, rotate:false}).extend([aAttributionCustom]),

            // INTERACTIONS
            interactions: ol.interaction.defaults({
                altShiftDragRotate: false,
                pinchRotate: false
            }),

            // LAYERS
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png',
                        attributions: ['Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                        ],
                    })
                })
            ],

            loadTilesWhileAnimating: true,

            // VIEW (default projection is Spherical Mercator (EPSG:3857), with meters as map units)
            view: new ol.View({
                center: ol.proj.fromLonLat([7.41, 48.82]),
                zoom: 4,
                minZoom:2,
                maxZoom: 18
            })
        });

    // FULLSCREEN OPTION
        amap.addControl(new ol.control.FullScreen());

    // GEOLOCATION
        // Creating the geolocation source included in a specific layer linked with the map
        const ageolocSource = new ol.source.Vector();
        const ageolocLayer = new ol.layer.Vector({
            source: ageolocSource
        });
        amap.addLayer(ageolocLayer);
        // Create a button to allow the user to center the map on its geolocation
        const alocate = document.createElement('div');
        alocate.className = 'ol-control ol-unselectable locate-button';
        alocate.innerHTML = '<button type="button" title="Locate me">◎</button>';
        alocate.addEventListener('click', function() {
            // Defining success and error functions and the options object
            function success(pos) {
                const coords = [pos.coords.longitude, pos.coords.latitude];
                const accuracy = ol.geom.Polygon.circular(coords, pos.coords.accuracy);
                ageolocSource.clear(true);
                ageolocSource.addFeatures([
                    new ol.Feature(accuracy.transform('EPSG:4326', amap.getView().getProjection())),
                    new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coords)))
                ]);
            };
            function error(err) {
                switch(err.code) {
                    case err.PERMISSION_DENIED:
                        alert("User denied the request for Geolocation.");
                        break;
                    case err.POSITION_UNAVAILABLE:
                        alert("Location information is unavailable.");
                        break;
                    case err.TIMEOUT:
                        alert("The request to get user location timed out.");
                        break;
                    case err.UNKNOWN_ERROR:
                        alert("An unknown error occurred.");
                        break;
                }
            };
            options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };
            // Activate the geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error, options);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
            // Zoom on the geolocation
            if (!geolocSource.isEmpty()) {
                amap.getView().fit(ageolocSource.getExtent(), {
                    maxZoom: 14,
                    duration: 500
                });
            } else {
                return false;
            }
        });
        amap.addControl(new ol.control.Control({
            element: alocate
        }));

    // DEFINING LAYER, SOURCE
        const areaSource = new ol.source.Vector();
        const areaLayer = new ol.layer.Vector({
            source: areaSource
        });
        amap.addLayer(areaLayer);

    {% if form.availability_area_geo.value is not None %}
    // DISPLAYING CURRENT AREA
        var geojsonObject = {
            "type": "Feature",
            "geometry": {{ form.availability_area_geo.value.json|safe }},
            "properties": {}
        };
        const areaFeatures = (new ol.format.GeoJSON({featureProjection: amap.getView().getProjection()})).readFeatures(geojsonObject);
        areaSource.addFeatures(areaFeatures);
        // INITIALIZING THE AVAILABILITY_AREA_GEO FORM FIELD TO ITS INITIAL VALUE IF NOT NONE
        const areaGeojsonStr = (new ol.format.GeoJSON()).writeFeatures(areaFeatures); // by default dataProjection = 'EPSG:4326' in GeoJSON
        const areaGeojsonObj = JSON.parse(areaGeojsonStr);
        const areaGeojsonGeom = areaGeojsonObj.features[0].geometry;
        const areaGeojsonGeomStr = JSON.stringify(areaGeojsonGeom);
        console.log(areaGeojsonGeomStr);
        document.getElementById('areacoordinates').value = areaGeojsonGeomStr;
        // ZOOMING IN THE CURRENT LOCATION
        if (!areaSource.isEmpty()) {
            amap.getView().fit(areaSource.getExtent(), {
                maxZoom: 10,
                duration: 500
            });
        }
    {% endif %}

    // // ADDING INTERACTION TO ALLOW THE USER TO ALTER THE CURRENT AREA
    //     amap.addInteraction(new ol.interaction.Modify({
    //         source: areaSource
    //     }));
        
    // ADDING INTERACTION TO ALLOW THE USER TO CREATE AN AREA
        var area_draw = new ol.interaction.Draw({
            type: 'Polygon',
            source: areaSource
        });
        amap.addInteraction(area_draw);

    // GETTING THE COORDINATES OF THE ADDED AREA
        area_draw.on("drawstart",function(e){
            areaSource.clear();
        });
        area_draw.on("drawend",function(e){
            var writer = new ol.format.GeoJSON(); // by default dataProjection = 'EPSG:4326' 
            // pass the feature as an array
            var geojsonStr = writer.writeFeatures([e.feature]);
            var geojsonObj = JSON.parse(geojsonStr);
            var geojsonGeom = geojsonObj.features[0].geometry;
            var geojsonGeomStr = JSON.stringify(geojsonGeom);
            console.log(geojsonGeomStr);
            document.getElementById('areacoordinates').value = geojsonGeomStr;
        });

    // ADDING BUTTON TO ALLOW THE USER TO DELETE ITS AVAILABILITY AREA
        const deleteArea = document.createElement('div');
        deleteArea.className = 'ol-control ol-unselectable delete-button';
        deleteArea.innerHTML = '<button type="button" title="Delete area">x</button>';
        deleteArea.addEventListener('click', function() {
            areaSource.clear();
            document.getElementById('areacoordinates').value = null;
        });
        amap.addControl(new ol.control.Control({
            element: deleteArea
        }));

    // UPLOAD AREA DRAGGING IN GEOJSON FILE IN THE MAP
        amap.addInteraction(new ol.interaction.DragAndDrop({
            source: areaSource,
            formatConstructors: [ol.format.GeoJSON]
        }));

    // // DOWNLOAD THE POLYGON DRAWN
    //     const downloadArea = document.createElement('div');
    //     downloadArea.className = 'ol-control ol-unselectable locate-button';
    //     downloadArea.innerHTML = '<a id="download" download="features.json"><button type="button" title="Download area">-></button></a>';
    //     downloadArea.addEventListener('click', function() {
    //         const format = new ol.format.GeoJSON({featureProjection: 'EPSG:3857'});
    //         const download = document.getElementById('download');
    //         areaSource.on('change', function() {
    //             const features = areaSource.getFeatures();
    //             const json = format.writeFeatures(features);
    //             download.href = 'data:text/json;charset=utf-8,' + json;
    //         });
    //     });
    //     amap.addControl(new ol.control.Control({
    //         element: downloadArea
    //     }));
</script>
{% endblock %}