{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Contact" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row align-items-center justify-content-center" style="height: 90vh;margin-top: -30px;">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1>{% trans "Contact us" %} </h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">{% trans "Send" %} </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}