{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Contact bourseauxcompagnons" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-lg-8">
        <div class="alert alert-info" role="alert">
            {% trans "<strong>This website is still under construction, therefore please let us know if:</strong><ul><li>you experience any unpleasant behaviour</li><li>you have suggestions to improve this website</li></ul>Of course you can also contact us for any other reason. We'll be glad to answer you." %}
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h1>{% trans "Contact us" %} </h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">{% trans "Send" %} </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}