{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktranslate with outing_title=outing.title %}Remove {{ outing_title }}{% endblocktranslate %} | {{ block.super }}{% endblock %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <p>{% blocktranslate with outing_title=outing.title %}Are you sure you want to delete your outing '{{ outing_title }}'?{% endblocktranslate %}</p>
        <input type=submit value="{% translate 'Delete' %}" class="btn btn-danger">
        <a href="{% url 'my-profile' %}" class="btn btn-secondary" role="button">{% translate "Cancel" %}</a>
    </form>
</div>
{% endblock%}