{% extends 'base.html' %}

{% block title %}{{ outing.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div>
    {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
                <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>{{ outing.title }}</h1>
    {% for activity in outing.activities.all %}
    <span class="badge badge-pill badge-info">{{ activity.name }}</span>
    {% endfor %}
    <p>
        {% if outing.start_date == outing.end_date %}
            Dans la journée du {{ outing.start_date|date:"SHORT_DATE_FORMAT" }}
        {% else %}
            Sur {{ outing.duration }} jours du {{ outing.start_date|date:"SHORT_DATE_FORMAT" }} au {{ outing.end_date|date:"SHORT_DATE_FORMAT" }}
        {% endif %}
    </p>
    {% if outing.topo_link %}
    <p><a href="{{ outing.topo_link }}" target="_blank">Lien vers le topo de la sortie !</a></p>
    {% endif %}
    <p class="text-justify">{{ outing.description|linebreaksbr }}</p>
    <p>Proposé par <a href="{{ outing.author.profile.get_absolute_url }}">{{ outing.author.username }}</a>.</p>
</div>
{% endblock%}