{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ outing.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div>
    {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
                <li {% if message.tags %}class="alert {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>{{ outing.title }}</h1>
    {% for activity in outing.activities.all %}
    <span class="badge badge-pill badge-info">{{ activity.name }}</span>
    {% endfor %}
    <p>        
        {% blocktrans with start_date=outing.start_date|date:"SHORT_DATE_FORMAT" end_date=outing.end_date|date:"SHORT_DATE_FORMAT" count duration=outing.duration %}
        During the {{ start_date }}.
        {% plural %}
        On {{ duration }} days. From the {{ start_date }} to the {{ end_date }}.
        {% endblocktrans %}
    </p>
    {% if outing.topo_link %}
    <p><a href="{{ outing.topo_link }}" target="_blank">{% trans 'Link to the outing topo!' %}</a></p>
    {% endif %}
    <p class="text-justify">{{ outing.description|linebreaksbr }}</p>
    <p>Proposé par <a href="{{ outing.author.profile.get_absolute_url }}">{{ outing.author.username }}</a>.</p>
</div>
{% endblock%}