{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block title %}{% trans "Outings" %} | {{ block.super }}{% endblock %}

{% block leftsidebar %}
    <form method="get" action="{% url 'outings:search' %}">
        <div class="form-row">
            <div class="form-group col-12">
                <h6 class="filter_title">{% trans 'Keywords' %}</h6>
                <input class="form-control" type="search" placeholder="{% trans 'Keywords...' %}" aria-label="Search" value="{% if keywords %}{{ keywords }}{% endif %}" name="k">
            </div>
            <div class="form-group col-12">
                <h6 class="filter_title">{% trans 'Dates' %}</h6>
                <h6 class="mb-1 text-secondary filter_subtitle">{% trans 'From' %}</h6>
                <div class="input-group mb-2">
                    <input type="text" name="outing_start_date" class="form-control" id="id_outing_start_date">
                    <div id="id_outing_start_date_clear_container" class="input-group-append">
                        <button id="id_outing_start_date_clear" type="button" class="btn btn-danger" title="Clear">X</button>
                    </div>
                </div>
                <h6 class="mb-1 text-secondary filter_subtitle">{% trans 'Till' %}</h6>
                <div class="input-group">
                    <input type="text" name="outing_end_date" class="form-control" id="id_outing_end_date">
                    <div id="id_outing_end_date_clear_container" class="input-group-append">
                        <button id="id_outing_end_date_clear" type="button" class="btn btn-danger" title="Clear">X</button>
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <h6 class="filter_title">{% trans 'Activities' %}</h6>
                <select multiple class="selectpicker form-control" title="{% trans 'Filter by activities' %}" data-style="btn-info" data-selected-text-format="count > 3" name="a">
                    {% for activity in all_activities %}
                        <option>{{ activity.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-12">
                <button class="btn btn-outline-success btn-block" type="submit">{% trans "Filter" %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block rightsidebar %}
    <div class="text-center d-none d-xl-block">
        <a href="{% url 'outings:create' %}" class="btn btn-success">{% trans "Add an outing" %}</a>
    </div>
{% endblock %}


{% block content %}
    {% if outing_list %}
        <p>
            {% blocktrans count counter=nb_of_results %}
            {{ counter }} outing
            {% plural %}
            {{ counter }} outings
            {% endblocktrans %}
        </p>
        <ul class="row list-unstyled">
            {% for outing in outing_list %}
                <li class="col-sm-6 col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ outing.get_absolute_url }}" class="stretched-link unstyled">{{ outing.title }}</a></h5>
                            <p class="card-text">
                                {% blocktrans with start_date=outing.start_date|date:"SHORT_DATE_FORMAT" end_date=outing.end_date|date:"SHORT_DATE_FORMAT" count duration=outing.duration %}
                                During the day<br>{{ start_date }}
                                {% plural %}
                                {{ duration }} days<br>{{ start_date }} - {{ end_date }}
                                {% endblocktrans %}
                                <br>
                                {% for activity in outing.activities.all %}
                                    <span class="badge badge-pill badge-info">{{ activity.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'There is no outing fitting your search criteria.' %}</p>
    {% endif %}
    <a href="{% url 'outings:create' %}" class="btn btn-success btn-circle btn-add d-block d-xl-none">+</a>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/it.js"></script>
<script>
    let outingStartDateCalendar = flatpickr("#id_outing_start_date", {
        locale: "{{ LANGUAGE_CODE }}",
        altInput: true,
        altFormat: "j F Y",
        dateFormat: "Y-m-d",
        minDate: "today",
    });
    let outingEndDateCalendar = flatpickr("#id_outing_end_date", {
        locale: "{{ LANGUAGE_CODE }}",
        altInput: true,
        altFormat: "j F Y",
        dateFormat: "Y-m-d",
        minDate: "today",
    });

    let outingStartDateClearElt = document.getElementById('id_outing_start_date_clear');
    let outingEndDateClearElt = document.getElementById('id_outing_end_date_clear');
    outingStartDateClearElt.addEventListener("click", function() {
        outingStartDateCalendar.clear();
    });
    outingEndDateClearElt.addEventListener("click", function() {
        outingEndDateCalendar.clear();
    });

    function isMobileDevice() {
        return ;
    };

    // HIDE THE DELETE BUTTON IF THE WEBSITE IS DISPLAYED ON A SMARTPHONE
    let isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|webOS|BlackBerry|IEMobile|Opera Mini)/i)
    let outingStartDateClearContainerElt = document.getElementById('id_outing_start_date_clear_container');
    if (isMobile) {
        outingStartDateClearContainerElt.style.display = "none";
    }
    let outingEndDateClearContainerElt = document.getElementById('id_outing_end_date_clear_container');
    if (isMobile) {
        outingEndDateClearContainerElt.style.display = "none";
    }
</script>
{% endblock %}