{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with outing_title=outing.title %}Removal of {{ outing_title }}{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <p>{% blocktrans with outing_title=outing.title %}Are you sure you want to delete your outing '{{ outing_title }}'?{% endblocktrans %}</p>
        <input type=submit value="{% trans 'Delete' %}" class="btn btn-danger">
        <a href="{% url 'my-profile' %}" class="btn btn-secondary" role="button">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock%}