{% extends 'base.html' %}

{% block title %}Des partenaires pour vos sorties en montagne | {{ block.super}}{% endblock %}

{% block content %}
<h1 class="h2">Trouver des partenaires pour vos sorties en montagne</h1>
<p>Cette plateforme aide les pratiquants de sports de montagne à trouver des partenaires de sortie.</p>
<ul>
    <li>Escalade : Traditionnelle, Grandes Voies, Couenne</li>
    <li>Alpinisme</li>
    <li>Cascade de glace</li>
    <li>Ski de randonnée</li>
    <li>Parapente : Vol-Bivouac, Vol-Rando, Officiel, Pente Ecole</li>
    <li>Randonnée : Trekking, Avec Bivouac, A la journée</li>
    <li>Trail</li>
    <li>Canyoning</li>
    <li>Autres</li>
</ul>
<p>Vous pouvez contacter directement les potentiels partenaires de sortie sans avoir à créer votre profil.</p>
<h1 class="h2">Créez un compte pour publier votre profil et/ou des sorties</h1>
<p>En créant un profil vous pourrez :</p>
<ul>
    <li>créer des sorties pour être contacter par des personnes intéressées de vous accompagner</li>
    <li>être visible dans la liste des partenaires pour être contacté par des personnes en recherche de compagnon de cordée sur le long terme</li>
</ul>
{% endblock %}