{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block title %}{% trans "This page doesn't exist" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center text-center mt-4">
    <div class="col-md-10 col-sm-12">
        <h1 class="display-2">{% trans "Mountain Partners" %}</h1>
        <h4 class="display-4 mb-4">{% trans "This page does not exist (error 404)" %}</br>¯\_(ツ)_/¯</h4>
        <p class="lead"><a href="{% url 'homepage' %}" class="btn btn-primary btn-lg">{% trans "Go to Homepage" %}</a></p>
    </div>
</div>
{% endblock %}
