{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Partners for your mountain outings" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row align-items-center" style="height: 90vh;margin-top: -30px;">
    <div class="col-12 text-center">
        <h1 class="mb-4">{% trans "Find:" %}</h1>
        <h2>{% trans "moutaineering partners" %}</h2>
        <h2>{% trans "climbing partners" %}</h2>
    </div>
    <div class="col-lg-6">
        <div class="card bg-light">
            <div class="card-body text-center">
                <h2 class="card-title"><a href="{% url 'profiles:list' %}">{% trans "PROFILES" %}</a></h2>
                <p class="card-text h4">{% trans "Need to build a strong companionship with a mountain partner to share outings in the mountain on a regular basis?" %}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card bg-light">
            <div class="card-body text-center">
                <h2 class="card-title"><a href="{% url 'outings:list' %}">{% trans "OUTINGS" %}</a></h2>
                <p class="card-text h4">{% trans "Need one or more mountain partners to come with you in your next mountain outing?" %}</p>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <h3>partenaires de ski de randonnée</h3>
        <h3>partenaires de cascade de glace</h3>
        <h3>partenaires de parapente</h3>
        <h3>partenaires de trekking</h3>
        <h3>partenaires de trail</h3>
        <h3>...</h3>
    </div>
</div>
{% endblock%}