{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
{% endblock %}

{% block title %}{% trans "Partners for your mountain outings" %} | {{ block.super }}{% endblock %}

{% block index %}
{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="alert {{ message.tags }} alert-dismissible mb-0"{% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="d-flex align-items-center" style="min-height: calc(100% - 60px); min-width: 100%; background: url('/static/img/bg_1.JPG') no-repeat; background-size: cover; z-index: 10; background-attachment: fixed;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 order-1">
            </div>
            <div class="col-xl-2 order-3">
            </div>
            <div class="col-xl-8 px-0 px-md-3 order-2">
                <div class="row mx-0">
                    <div class="col-sm-10 col-md-6 mx-auto mx-md-0 px-0">
                        <div class="card" style="background-color: rgba(225,225,225,0.9);">
                            <div class="card-body text-center">
                                <h1 class="card-text h4 mb-4 mt-xl-4 mb-xl-5">{% trans "Find partners for your outings in the mountain." %}</h1>
                                <form id="profile-outing-form" method="get" action="">
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <ul id="id_activities" class="selectable-items-list">
                                                {% for activity in all_activities %}
                                                <li><input type="checkbox" name="a" value="{{ activity }}" class="" id="id_activities_{{ activity|cut:' ' }}"><label for="id_activities_{{ activity|cut:' ' }}" class="px-2 mb-1">{{ activity.name }}</label></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="form-group col-12">
                                            <button id="search-profile" class="btn btn-outline-main btn-block" type="submit">{% trans "Search Profile" %}</button>
                                        </div>
                                        <div class="form-group col-12 mb-0 mb-xl-3">
                                            <button id="search-outing" class="btn btn-outline-main btn-block" type="submit">{% trans "Search Outing" %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row pt-5 pb-3 px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <h3>{% trans 'For whom?' %}</h3>
                    <p>{% trans 'Sportsmen and sportswomen struggling to find partners to explore the outdoors. Especially the mountains.' %}</p>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <h3>{% trans 'What for?' %}</h3>
                    <p>{% trans 'Find partners that match your activities, your level and your aspirations.' %}</p>
                </div>
                <div class="col-12 col-md-12 col-xl-4">
                    <h3>{% trans 'How it works?' %}</h3>
                    <ul class="list-unstyled">
                        <li class="mb-2">{% trans 'Watch profiles and outings. Contact directly the ones fitting your interest.' %}</li>
                        <li>{% trans 'Publish your own profile or outings to be contacted by potential partners.' %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white">
    <div class="row px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div id="profilesmap" class="col-12" style="height: 70vh;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row pt-5 pb-3 px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div class="col-12 pb-3">
                    <div class="d-flex flex-row align-items-baseline justify-content-between flex-wrap">
                        <h2 class="mr-4">{% trans 'Last profiles created' %}</h2>
                        <a class="d-none d-sm-block" href="{% url 'profiles:list' %}">{% trans "Display all the profiles" %} ></a>
                    </div>
                </div>
                {% for profile in 5_last_profiles %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card h-100 cursor-pointer" onclick="document.location='{{ profile.get_absolute_url }}'">
                            {% include "core/cards/profile.html" %}
                        </div>
                    </div>
                {% endfor %}
                {% if user.is_anonymous %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <a href="{% url 'profile_register' %}" class="btn btn-outline-main d-flex justify-content-center align-items-center" style="height: 100%;"><span class="h4 font-weight-bold mb-0">{% trans "Add my profile" %}</span></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white">
    <div class="row pt-5 pb-3 px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div class="col-12 pb-3">
                    <div class="d-flex flex-row align-items-center justify-content-between flex-wrap">
                        <h2 class="mr-4">{% trans 'Last outings suggested' %}</h2>
                        <a class="d-none d-sm-block" href="{% url 'outings:list' %}">{% trans "Display all the outings" %} ></a>
                    </div>
                </div>
                {% for outing in 5_last_outings %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card">
                            {% include "core/cards/outing.html" %}
                        </div>
                    </div>
                {% endfor %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <a href="{% url 'outings:create' %}" class="btn btn-outline-main d-flex justify-content-center align-items-center" style="height: 100%;"><span class="h4 font-weight-bold mb-0">{% trans "Add my outing" %}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- Add a css class to selectable-items-list to avoid :hover on mobiles -->
<script src="{% static 'js/detect-no-touch.js' %}"></script>
<!-- search profile and outing -->
<script>
    // Set the "action" attribute of the "form" html tag
    const searchProfileOutingForm = document.getElementById('profile-outing-form');
    const searchProfileBtn = document.getElementById('search-profile');
    const searchOutingBtn = document.getElementById('search-outing');

    searchProfileBtn.addEventListener('click', function() {
        searchProfileOutingForm.setAttribute('action', '{% url "profiles:list" %}');
    });

    searchOutingBtn.addEventListener('click', function() {
        searchProfileOutingForm.setAttribute('action', '{% url "outings:list" %}');
    });
</script>
<!-- openlayers -->
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script>
    /*
    PROJECTIONS
    - EPSG:3857 -> Spherical Mercator [DEFAULT in OpenLayers]
    - EPSG:4326 -> WGS 84 (use by default / convention in geoJSON format)

    JSON format
    - http://wiki.geojson.org/GeoJSON_draft_version_6#Feature

    */

    // BASE MAP
        const attributionCustom = new ol.control.Attribution({
            collapsible: true
        });
        const map = new ol.Map({
            // TARGET
            target: 'profilesmap',

            // ATTRIBUTIONS OF THE BASE MAP
            controls: ol.control.defaults({attribution: false, rotate: false}).extend([attributionCustom]),

            // INTERACTIONS
            interactions: ol.interaction.defaults({
                altShiftDragRotate: false,
                pinchRotate: false
            }),

            // LAYERS
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png', //'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        attributions: ['Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                        ],
                    })
                }),
                // new ol.layer.Vector({
                //     source: new ol.source.Vector({
                //         url: 'https://raw.githubusercontent.com/bernardobelchior/openlayers-scratch-map-tutorial/start/countries.geojson',
                //         format: new ol.format.GeoJSON(),
                //     })
                // })
            ],

            loadTilesWhileAnimating: true,

            // VIEW (default projection is Spherical Mercator (EPSG:3857), with meters as map units)
            view: new ol.View({
                center: ol.proj.fromLonLat([9.41, 45]),
                zoom: 5,
                minZoom:2,
                maxZoom: 18
            })
        });

    // FULLSCREEN OPTION
        map.addControl(new ol.control.FullScreen());

    // GEOLOCATION
        // Creating the geolocation source included in a specific layer linked with the map
        const geolocSource = new ol.source.Vector();
        const geolocLayer = new ol.layer.Vector({
            source: geolocSource
        });
        map.addLayer(geolocLayer);
        // Create a button to allow the user to center the map on its geolocation
        const locate = document.createElement('div');
        locate.className = 'ol-control ol-unselectable locate-button';
        locate.innerHTML = '<button title="Locate me"><img src="{% static "img/icon_geoloc.svg" %}"></button>';
        locate.addEventListener('click', function() {
            // Defining success and error functions and the options object
            function success(pos) {
                const coords = [pos.coords.longitude, pos.coords.latitude];
                const accuracy = ol.geom.Polygon.circular(coords, pos.coords.accuracy);
                geolocSource.clear(true);
                geolocSource.addFeatures([
                    new ol.Feature(accuracy.transform('EPSG:4326', map.getView().getProjection())),
                    new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coords)))
                ]);
                // Zoom on the geolocation
                if (!geolocSource.isEmpty()) {
                    map.getView().fit(geolocSource.getExtent(), {
                        maxZoom: 10,
                        duration: 500
                    });
                } else {
                    alert("Issue in assigning geoloc features to geoloc source in openlayers.")
                }
            };
            function error(err) {
                switch(err.code) {
                    case err.PERMISSION_DENIED:
                        alert("User denied the request for Geolocation.");
                        break;
                    case err.POSITION_UNAVAILABLE:
                        alert("Location information is unavailable.");
                        break;
                    case err.TIMEOUT:
                        alert("The request to get user location timed out.");
                        break;
                    case err.UNKNOWN_ERROR:
                        alert("An unknown error occurred.");
                        break;
                }
            };
            options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };
            // Activate the geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error, options);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        });
        map.addControl(new ol.control.Control({
            element: locate
        }));

    // MARKERS & POPUPS
        // Creating MARKERS
        // Creating the markers source included in a specific layer
        const markersSource = new ol.source.Vector();
        const markersLayer = new ol.layer.Vector({
            source: markersSource
        });
        map.addLayer(markersLayer);
        // Creating the availability area source included in a specific layer
        const availabilityAreaSource = new ol.source.Vector();
        const availabilityAreaLayer = new ol.layer.Vector({
            source: availabilityAreaSource
        });
        map.addLayer(availabilityAreaLayer);
        // Initializing markers list
        const markersFeatures = [];
        // Defining icon style
        const profileLocIconStyle = new ol.style.Style({
            image: new ol.style.Icon({
                anchor: [0.5, 1],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                src: '{% static "img/icon_male_map.png" %}',
                scale: 0.8,
                opacity: 1
            })
        });
        const profileLocClickedIconStyle = new ol.style.Style({
            image: new ol.style.Icon({
                anchor: [0.5, 1],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                src: '{% static "img/icon_male_map.png" %}',
                scale: 1,
                color: [40,167,69,1],
                opacity: 1
            })
        });
        // Filling markers list
        {% for p in profiles %}
        {% if p.location %}
        {
            const feature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ p.location.x|unlocalize }}, {{ p.location.y|unlocalize }}]))
            });
            const profileActivities = [];
            {% for activity in p.activities.all %}
                profileActivities.push('{{ activity.name }}');
            {% endfor %}
            let availabilityAreaGeoJson = null;
            {% if p.availability_area_geo.json %}
                availabilityAreaGeoJson = {{ p.availability_area_geo.json|safe }};
            {% endif %}
            feature.setProperties({
                profile_username: '{{ p.user.username }}',
                profile_url: '{{ p.get_absolute_url }}',
                profile_activities: profileActivities,
                availability_area_geo_json: availabilityAreaGeoJson
            });
            feature.setStyle(profileLocIconStyle);
            markersFeatures.push(feature);
        }
        {% endif %}
        {% endfor %}
        // Updating markers list
        markersSource.addFeatures(markersFeatures);


        // Creating POPUPS linked with there markers
        // Creating the overlay
        const popupElt = document.createElement("div");
        popupElt.id = "popup";
        popupElt.classList.add("ol-popup");
        const profilesmapElt = document.getElementById('profilesmap');
        profilesmapElt.appendChild(popupElt);        
        const popup = new ol.Overlay({
            element: popupElt,
            offset: [0, -30]
        });
        map.addOverlay(popup);
        // Display a popup when a marker is clicked
        map.on('click', function(evt) {
            // Detect the click on a marker
            const feature = map.forEachFeatureAtPixel(
                evt.pixel,
                function(feature) {
                    return feature;
                },
                {layerFilter: function(layer) {
                    return layer === markersLayer;
                }}
            );
            // Display profile info if the marker is clicked
            if (feature) {
                // Reset all marker icons to their initial style
                for(let i = 0; i < markersFeatures.length; i++){
                    markersFeatures[i].setStyle(profileLocIconStyle);
                }
                // Set clicked icon to a different style
                feature.setStyle(profileLocClickedIconStyle);
                // Popup positioning
                const coordinates = feature.getGeometry().getCoordinates();
                popup.setPosition(coordinates);
                // Popup reset (avoid the 'popupElt.innerHTML = "";' solution which is of bad performance)
                while (popupElt.firstChild) {
                    popupElt.removeChild(popupElt.firstChild);
                }
                // Popup content
                    // Title (username)
                const titleElt = document.createElement("h4");
                titleElt.classList.add("ol-popup-title");
                titleElt.textContent = feature.get("profile_username");
                popupElt.appendChild(titleElt);
                    // Activities
                const activitiesElt = document.createElement("p");
                activitiesElt.classList.add("card-text");
                for(let i = 0; i < feature.get("profile_activities").length; i++){
                    const activityElt = document.createElement("span");
                    activityElt.classList.add("badge", "badge-pill", "badge-info");
                    activitiesElt.appendChild(activityElt);
                    activityElt.textContent = feature.get("profile_activities")[i];
                }
                popupElt.appendChild(activitiesElt);
                // Clickable popup and redirection to the profile's page
                let profileUrlOnClick = "document.location='" + feature.get('profile_url') + "'";
                popupElt.setAttribute("onclick", profileUrlOnClick);
                    // Other solution that doesn't work:
                        // function linkToProfilePage() {
                        //     document.location = feature.get("profile_url");
                        // };
                        // popupElt.addEventListener("click", linkToProfilePage());
                // Drawing availability area of the profile
                availabilityAreaSource.clear();
                const availabilityAreaGeoJson = feature.get("availability_area_geo_json");
                const geojsonObject = {
                    "type": "Feature",
                    "geometry": availabilityAreaGeoJson, // srid: 4326
                    "properties": {}
                };
                const areaFeatures = (new ol.format.GeoJSON({featureProjection: map.getView().getProjection()})).readFeatures(geojsonObject);
                availabilityAreaSource.addFeatures(areaFeatures);
            } else {
                // If a click is made outside of a marker then the icon comes back to its initial appearance
                for(let i = 0; i < markersFeatures.length; i++){
                    markersFeatures[i].setStyle(profileLocIconStyle);
                }
                // If a click is made outside of a marker then no popup is displayed
                popup.setPosition(undefined);
                // If a click is made outide of a marker then the availability area is hidden
                availabilityAreaSource.clear();
            }
        });

    // CHANGE MOUSE CURSOR when over a marker
        map.on('pointermove', function(e) {
            const pixel = map.getEventPixel(e.originalEvent);
            const hit = map.hasFeatureAtPixel(
                pixel,
                {layerFilter: function(layer) {
                    return layer === markersLayer;
                }}
            );
            map.getTargetElement().style.cursor = hit ? 'pointer' : '';
        });
</script>
{% endblock %}
