{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
<style>
.locate {
  top: 5em;
  left: .5em;
}
</style>
<style>
    /* MARKERS POPUPS */
    .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
    }
    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }
    .ol-popup:hover {
        cursor: pointer;
    }
    /*.ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }
    .ol-popup-closer:after {
        content: "✖";
    }*/
</style>
{% endblock %}

{% block title %}{% trans "Partners for your mountain outings" %} | {{ block.super }}{% endblock %}

{% block index %}
<div class="d-flex align-items-center" style="min-height: calc(100% - 60px); min-width: 100%; background: url('/static/img/bg_1.JPG') no-repeat; background-size: cover; z-index: 10; background-attachment: fixed;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 order-1">
            </div>
            <div class="col-xl-2 order-3">
            </div>
            <div class="col-xl-8 order-2">
                <div class="col-md-6 col-xl-6">
                    <div class="card" style="background-color: rgba(225,225,225,0.9);">
                        <div class="card-body text-center">
                            <h1 class="card-text h4 p-4">{% trans "Find partners for your outings in the mountain." %}</h1>
                            <form type="GET" action="{% url 'profiles:search' %}">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <ul id="id_activities" class="custom-form-check-inline">
                                            {% for activity in all_activities %}
                                            <li><label for="id_activities_{{ activity }}"><input type="checkbox" name="a" value="{{ activity }}" class="custom-form-check-inline" id="id_activities_{{ activity }}">{{ activity }}</label></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form-group col-12">
                                        <button class="btn btn-outline-success btn-block text-uppercase" type="submit">{% trans "Search Profile" %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row pt-5 pb-3 px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <h3>{% trans 'For whom?' %}</h3>
                    <p>{% trans 'Sportsmen and sportswomen struggling to find partners to explore the outdoors. Especially the mountains.' %}</p>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <h3>{% trans 'What for?' %}</h3>
                    <p>{% trans 'Find partners that match your activities, your level and your aspirations.' %}</p>
                </div>
                <div class="col-12 col-md-12 col-xl-4">
                    <h3>{% trans 'How it works?' %}</h3>
                    <ul class="list-unstyled">
                        <li class="mb-2">{% trans 'Watch profiles and outings. Contact directly the ones fitting your interest.' %}</li>
                        <li>{% trans 'Publish your own profile or outings to be contacted by potential partners.' %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white">
    <div class="row pt-5 pb-3 px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div class="col-12 pb-3">
                    <h2>{% trans 'Last profiles created' %}</h2>
                </div>
                {% for profile in 5_last_profiles %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card" onclick="document.location='{{ profile.get_absolute_url }}'" style="cursor: pointer;">
                            <div class="card-body">
                                <div class="row align-items-start">
                                    <div class="col-3 mb-2">
                                        {% if profile.profile_picture %}
                                        <img src="{{ profile.profile_picture.url }}" class="img-fluid" alt="Profile picture">
                                        {% else %}
                                        <img src="{% static 'img/icon_user.png' %}" class="img-fluid img-thumbnail" alt="Default profile picture">
                                        {% endif %}
                                    </div>
                                    <div class="col-9">
                                        <h5><a href="{{ profile.get_absolute_url }}">{% include "profiles/snippets/username.html" %}</a></h5>
                                        <p class="card-text">
                                            <span class="font-weight-bold">{{ profile.availability_area }}</span>
                                            {% if profile.age %}<br>{% blocktrans with profile_age=profile.age %}{{ profile_age }} years{% endblocktrans %}{% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-text">
                                            {% for activity in profile.activities.all %}
                                                <span class="badge badge-pill badge-info mb-1">{{ activity.name }}</span>
                                            {% endfor %}<br>
                                            {{ profile.introduction|truncatechars:200 }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if user.is_anonymous %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card bg-success" style="height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="card-title text-uppercase align-middle mb-0 h4 text-center"><a href="{% url 'profile_register' %}" class="stretched-link text-light" style="text-decoration: none;">{% trans "Add my profile" %}</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-12">
                    <a class="text-info" href="{% url 'profiles:list' %}">{% trans "Display all the profiles" %} ></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row pt-5 pb-3 px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div class="col-12 pb-3">
                    <h2>{% trans 'Last outings suggested' %}</h2>
                </div>
                {% for outing in 5_last_outings %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ outing.get_absolute_url }}" class="stretched-link">{{ outing.title }}</a></h5>
                                <p class="card-text">
                                    {% blocktrans with start_date=outing.start_date|date:"SHORT_DATE_FORMAT" end_date=outing.end_date|date:"SHORT_DATE_FORMAT" count duration=outing.duration %}
                                    During the day<br>{{ start_date }}
                                    {% plural %}
                                    {{ duration }} days<br>{{ start_date }} - {{ end_date }}
                                    {% endblocktrans %}
                                    <br>
                                    {% for activity in outing.activities.all %}
                                        <span class="badge badge-pill badge-info">{{ activity.name }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card bg-success" style="height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="card-title text-uppercase align-middle mb-0 h4 text-center"><a href="{% url 'outings:create' %}" class="stretched-link text-light" style="text-decoration: none;">{% trans "Add my outing" %}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a class="text-info" href="{% url 'outings:list' %}">{% trans "Display all the outings" %} ></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white">
    <div class="row pt-5 pb-3 px-md-5 px-xl-0">
        <div class="col-xl-2 order-1">
        </div>
        <div class="col-xl-2 order-3">
        </div>
        <div class="col-xl-8 order-2">
            <div class="row">
                <div class="col-12 pb-3">
                    <h2>{% trans 'Profiles map' %}</h2>
                </div>
                <div id="profilesmap" class="col-12" style="height: 550px;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script>
    /*
    PROJECTIONS
    - EPSG:3857 -> Spherical Mercator [DEFAULT in OpenLayers]
    - EPSG:4326 -> WGS 84 (use by default / convention in geoJSON format)

    JSON format
    - http://wiki.geojson.org/GeoJSON_draft_version_6#Feature

    */

    // BASE MAP
        var attribution = new ol.control.Attribution({
            collapsible: true
        });
        var map = new ol.Map({
            // TARGET
            target: 'profilesmap',

            // ATTRIBUTIONS OF THE BASE MAP
            controls: ol.control.defaults({attribution: false}).extend([attribution]),

            // LAYERS
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png',
                        attributions: ['Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                        ],
                    })
                }),
                // new ol.layer.Vector({
                //     source: new ol.source.Vector({
                //         url: 'https://raw.githubusercontent.com/bernardobelchior/openlayers-scratch-map-tutorial/start/countries.geojson',
                //         format: new ol.format.GeoJSON(),
                //     })
                // })
            ],

            loadTilesWhileAnimating: true,

            // VIEW (default projection is Spherical Mercator (EPSG:3857), with meters as map units)
            view: new ol.View({
                center: ol.proj.fromLonLat([7.41, 48.82]),
                zoom: 4,
                minZoom:2,
                maxZoom: 18
            })
        });

    // FULLSCREEN OPTION
        map.addControl(new ol.control.FullScreen());

    // GEOLOCATION
        // Creating the geolocation source included in a specific layer linked with the map
        const geolocSource = new ol.source.Vector();
        const geolocLayer = new ol.layer.Vector({
            source: geolocSource
        });
        map.addLayer(geolocLayer);
        // Create a button to allow the user to center the map on its geolocation
        const locate = document.createElement('div');
        locate.className = 'ol-control ol-unselectable locate';
        locate.innerHTML = '<button title="Locate me">◎</button>';
        locate.addEventListener('click', function() {
            // Defining success and error functions and the options object
            function success(pos) {
                const coords = [pos.coords.longitude, pos.coords.latitude];
                const accuracy = ol.geom.Polygon.circular(coords, pos.coords.accuracy);
                geolocSource.clear(true);
                geolocSource.addFeatures([
                    new ol.Feature(accuracy.transform('EPSG:4326', map.getView().getProjection())),
                    new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coords)))
                ]);
            };
            function error(err) {
                switch(err.code) {
                    case err.PERMISSION_DENIED:
                        alert("User denied the request for Geolocation.");
                        break;
                    case err.POSITION_UNAVAILABLE:
                        alert("Location information is unavailable.");
                        break;
                    case err.TIMEOUT:
                        alert("The request to get user location timed out.");
                        break;
                    case err.UNKNOWN_ERROR:
                        alert("An unknown error occurred.");
                        break;
                }
            };
            options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };
            // Activate the geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error, options);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
            // Zoom on the geolocation
            if (!geolocSource.isEmpty()) {
                map.getView().fit(geolocSource.getExtent(), {
                    maxZoom: 10,
                    duration: 500
                });
            }
        });
        map.addControl(new ol.control.Control({
            element: locate
        }));

    // MARKERS & POPUPS
        // Creating MARKERS
        // Creating the markers source included in a specific layer linked with the map
        const markersSource = new ol.source.Vector();
        const markersLayer = new ol.layer.Vector({
            source: markersSource
        });
        map.addLayer(markersLayer);
        // Initializing markers list
        const markersFeatures = [];
        // Defining icon style
        var profileLocIconStyle = new ol.style.Style({
            image: new ol.style.Icon({
                anchor: [0.5, 1],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                src: '{% static "img/icon_male_map.png" %}',
                scale: 0.8,
                opacity: 1
            })
        });
        // Filling markers list
        {% for p in profiles %}
        {% if p.location %}
            var feature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ p.location.x|unlocalize }}, {{ p.location.y|unlocalize }}]))
            });
            var profileActivities = [];
            {% for activity in p.activities.all %}
                profileActivities.push('{{ activity.name }}');
            {% endfor %}
            feature.setProperties({
                profile_username: '{{ p.user.username }}',
                profile_url: '{{ p.get_absolute_url }}',
                profile_activities: profileActivities
            });
            feature.setStyle(profileLocIconStyle);
            markersFeatures.push(feature);
        {% endif %}
        {% endfor %}
        // Updating markers list
        markersSource.addFeatures(markersFeatures);


        // Creating POPUPS linked with there markers
        // Creating the overlay
        var popupElt = document.createElement("div");
        popupElt.id = "popup";
        popupElt.classList.add("ol-popup");
        profilesmapElt = document.getElementById('profilesmap');
        profilesmapElt.appendChild(popupElt);        
        var popup = new ol.Overlay({
            element: popupElt,
            offset: [0, -30]
        });
        map.addOverlay(popup);
        // Display a popup when a marker is clicked
        map.on('click', function(evt) {
            // Detect the click on a marker
            var feature = map.forEachFeatureAtPixel(
                evt.pixel,
                function(feature) {
                    return feature;
                },
                {layerFilter: function(layer) {
                    return layer === markersLayer;
                }}
            );
            // Display profile info if the marker is clicked
            if (feature) {
                // Popup positioning
                var coordinates = feature.getGeometry().getCoordinates();
                popup.setPosition(coordinates);
                // Popup reset (avoid the 'popupElt.innerHTML = "";' solution which is of bad performance)
                while (popupElt.firstChild) {
                    popupElt.removeChild(popupElt.firstChild);
                } 
                // Popup content
                    // Title (username)
                var titleElt = document.createElement("h4");
                titleElt.classList.add("ol-popup-title");
                titleElt.textContent = feature.get("profile_username");
                popupElt.appendChild(titleElt);
                    // Activities
                var activitiesElt = document.createElement("p");
                activitiesElt.classList.add("card-text");
                for(var i = 0; i < feature.get("profile_activities").length; i++){
                    var activityElt = document.createElement("span");
                    activityElt.classList.add("badge", "badge-pill", "badge-info");
                    activitiesElt.appendChild(activityElt);
                    activityElt.textContent = feature.get("profile_activities")[i];
                }
                popupElt.appendChild(activitiesElt);
                // Clickable popup and redirection to the profile's page
                var profileUrlOnClick = "document.location='" + feature.get('profile_url') + "'";
                popupElt.setAttribute("onclick", profileUrlOnClick);
                    // Other solution that doesn't work:
                        // function linkToProfilePage() {
                        //     document.location = feature.get("profile_url");
                        // };
                        // popupElt.addEventListener("click", linkToProfilePage());
            } else {
                // If a click is made outside of a marker then no popup is displayed
                popup.setPosition(undefined);
            }
        });

    // CHANGE MOUSE CURSOR when over a marker
        map.on('pointermove', function(e) {
            var pixel = map.getEventPixel(e.originalEvent);
            var hit = map.hasFeatureAtPixel(
                pixel,
                {layerFilter: function(layer) {
                    return layer === markersLayer;
                }}
            );
            map.getTargetElement().style.cursor = hit ? 'pointer' : '';
        });
</script>
{% endblock %}
