{% load static i18n %}

<div class="card-body">
    <div class="row mb-2">
        <div class="col-3 pr-0">
            {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" class="img-fluid" alt="Profile picture">
            {% else %}
            <img src="{% static 'img/icon_user.png' %}" class="img-fluid" alt="Default profile picture">
            {% endif %}
        </div>
        <div class="col-9 d-flex align-items-stretch pl-2 w-100">
            <div class="flex-grow-1 mr-2">
                <h5><a href="{{ profile.get_absolute_url }}" class="unstyled">{% include "profiles/snippets/username.html" %}</a></h5>
                <p class="card-text">
                    {% if profile.age %}<span class="font-weight-bold">{% blocktranslate with profile_age=profile.age %}{{ profile_age }} years{% endblocktranslate %}</span><br>{% endif %}
                    {% if profile.distance %}<span>{{ profile.distance.km|floatformat }} km</span><br>{% endif %}
                </p>
            </div>
            <div title="{% translate 'Profile completion' %}">
                <svg width="1.5rem" height="1.5rem" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="35" stroke-width="15" stroke="rgba(211,211,211,0.5)" fill="transparent" stroke-linecap="butt" />
                    <circle cx="50" cy="50" r="35" stroke-width="15" stroke="{% if profile.completion <= 50 %}rgb(220,53,69){% elif profile.completion <= 80 %}rgb(255,193,7){% else %}rgb(40,167,69){% endif %}" fill="transparent" stroke-dasharray="calc(251.33 * {{ profile.completion }} / 100), 251.33" stroke-linecap="butt" transform="rotate(-90,50,50)" />
                </svg>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="card-text">
                {% for activity in profile.activities.all %}
                    <span class="badge badge-pill badge-info mb-1">{{ activity.name }}{% for grade in profile.grades.all %}{% if grade.activity.name == activity.name %} - {{ grade.name }}{% endif %}{% endfor %}</span>
                {% endfor %}<br>
                {{ profile.introduction|truncatechars:200 }}
            </p>
        </div>
    </div>
</div>